@{
    ViewBag.Title = "VCG GA UB12 Homepage";
}
<div class="container body-content">
    <div class="jumbotron">
        <h1>WELCOME IN VCG A-SHOP</h1>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>BROWNFIELD</h4>
        <div class="panel-body">
            <p><a href="~/Gadata/PloegRapportWebgrid" class="btn btn-primary btn-sm">PloegRapport &raquo;</a> 
            Bevat storingen groter dan 20 minuten of die meer dan 3 keer zijn voorgevallen</p>
            <p><a href="~/Gadata/SupervisieWebgrid" class="btn btn-primary btn-sm">Supervisie &raquo;</a>
            Bevat alles dat nu in storing staat, storingen die langer dan 10 minuten hebben geduurd en hardwarefouten van robots</p>
        </div>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>GREENFIELD</h4>
        <div class="panel-body">
            <p><a href="~/Gadata/TipstatusWebgrid" class="btn btn-primary btn-sm">Tipstatus &raquo;</a>
            Huidige elektrode status inclusief een voorspelling van het aantal nog te lassen wagens</p>
            <p><a href="~/Gadata/Stowebgrid" class="btn btn-primary btn-sm">STO &raquo;</a>
            Data van de PLC actieve storingen</p>

        </div>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>Tableau</h4>
        <div class="panel-body">
            <p>
                <a href="~/Tableau/index" class="btn btn-primary btn-sm">Tableau &raquo;</a>
                Een interactive manier om naar data te kijken.
            </p>
        </div>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>Qurt</h4>
        <div class="panel-body">
            <p>
                <a href="~/PDFjs/web/viewer.html?file=Q-Mapping Dashboard.pdf" class="btn btn-primary btn-sm">Qurt &raquo;</a>
                Q-Mapping Dashboard
            </p>
        </div>
    </div>


    <p></p>

    <div class="panel panel-default">
        <h4>Please don't touch</h4>
        <div class="panel-body">
            <p>
                <a href="~/Difftable/Index" class="btn btn-primary btn-sm">QueryDiffer &raquo;</a>
            Concept om data van maximo op verschillende tijdstippen te vergelijken</p>
            <p>
                <a href="~/Dynamic/DynamicWebgrid" class="btn btn-primary btn-sm">Dynamic &raquo;</a>
            Test met niet gebufferde query
            </p>
            <p>
                <a href="~/Sharepoint/AddNewIusse?location=TestLocation&title=TestTitle&refURL=http://MyServer/sites/MySiteCollection" class="btn btn-primary btn-sm">SharepointTest &raquo;</a>
            Test communicatie naar sharepoint.
            </p>
            <p>
                <a href="~/Pdf/RenderPdf" class="btn btn-primary btn-sm">PDfRender &raquo;</a>
                Test embedded pdf files pdf.js
            </p>

        </div>
    </div>

</div>

<footer>
    <p>&copy; @DateTime.Now.Year - VCG GA SDEBEUL ASP.NET Application</p>
</footer>