@{
    ViewBag.Title = "VCG GA Homepage";
}
<div class="jumbotron">
    <h1>WELCOME IN VCG GA</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            @EqUiWebUi.defaultArea.SupervisionHeader
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Gadata/Table/PloegRapportWebgrid" class="btn btn-primary btn-sm">@EqUiWebUi.defaultArea.ShiftReport &raquo;</a>
            Bevat storingen groter dan 20 minuten of die meer dan 3 keer zijn voorgevallen
        </p>
        <p>
            <a href="~/Gadata/Table/SupervisieWebgrid" class="btn btn-primary btn-sm">Supervisie Robots &raquo;</a>
            Bevat alles nu in storing en storingen die langer dan 1 minut hebben geduurd.
        </p>

        <p>
            <a href="~/PlcSupervisie/Screenshot/CarouselBF" class="btn btn-primary btn-sm">CarouselBF &raquo;</a>
            Supervisie (intranet)*new
        </p>

        @{
        string urlIntranetSupervis = @Uri.EscapeDataString("http://webapps.gen.volvocars.net/applications/eng/equipment/supervisiep1/intranet");
        <p>
            <a href="~/Home/Rendersite?url=@urlIntranetSupervis" class="btn btn-primary btn-sm">Supervisie Intranet P1 &raquo;</a>
            Supervisie (intranet)
        </p>
        }

        <p>
            <a href="~/Alert/Alert/Index" class="btn btn-primary btn-sm">Alerts &raquo;</a>
            Waarschuwingen gebaseerd op triggers
        </p>
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Greenfield Only
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Tiplife/NgacElectrode/index" class="btn btn-primary btn-sm">Electrode &raquo;</a>
            Alles in verband met de Electrodes van de nieuwe robots
        </p>

        <p>
            <a href="http://gensvw2107.gen.volvocars.net/Greenfield/#/ctgreenfield" class="btn btn-primary btn-sm">cmaCTapp &raquo;</a>
            Tool van IE om Cycle times te bekijken.
        </p>

        <p>
            <a href="~/PlcSupervisie/Screenshot/Carousel" class="btn btn-primary btn-sm">UB12 supervisie &raquo;</a>
            Plc Supervisie voor UB12 (mobile friendly)
        </p>

        @{
            string urlGreenfieldsuperVis = @Uri.EscapeDataString("http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/");
            <p>
                <a href="~/Home/Rendersite?url=@urlGreenfieldsuperVis" class="btn btn-primary btn-sm">Tia supervisie index &raquo;</a>
                Elk beschikbaar scherm van CMA supervisie.
            </p>
        }
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Tableau
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Tableau/index" class="btn btn-primary btn-sm">Tableau &raquo;</a>
            Een interactive manier om naar data te kijken.
        </p>
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Qurt
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/PDFjs/web/viewer.html?file=Q-Mapping Dashboard greenfield.pdf" class="btn btn-primary btn-sm">Qurt &raquo;</a>
            Q-Mapping Dashboard
        </p>
        <p>
            <a href="~/Gadata/Table/BodyTrackWebgrid" class="btn btn-primary btn-sm">Bodytracking &raquo;</a>
            Body tracking (robot data A LIJN 339 ONLY!)
        </p>
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Maximo
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Maximo_ui/Maximo/index" class="btn btn-primary btn-sm">Maximo &raquo;</a>
            Alles in verband met maximo
        </p>
    </div>
</div>

<p></p>


@*This card is default collapsed see fa-rotate-180 and display:none*@
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            Beta
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body" style="display:none">
        <p>
            <a href="~/VASC/Breakdown/getBreakdowns" class="btn btn-primary btn-sm">NGAC breakdown&raquo;</a>(test)
            Test met niet gebufferde query
        </p>

        <p>
            <a href="~/PJV/pjv/index" class="btn btn-primary btn-sm">PJV&raquo;</a>(test)
            Test met pjv UI
        </p>

        <p>
            <a href="~/STW040/STW040/index" class="btn btn-primary btn-sm">STW040&raquo;</a>(test)
            Test met db toegang naar stw040
        </p>

        <p>
            <a href="~/Welding/Welding/index" class="btn btn-primary btn-sm">AASPOT&raquo;</a>(test)
            Jens zijn area
        </p>
    </div>
</div>

<p></p>
