@{
    ViewBag.Title = "VCG GA UB12 Homepage";
}

<div class="jumbotron">
    <h1>Hellow</h1>
    <p class="lead">VCG GA UB12 Homepage</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    <p><a href="~/Gadata/WebGrid" class="btn btn-primary btn-large">GadataWebGrid &raquo;</a></p>
    <p><a href="~/Gadata/jqGrid" class="btn btn-primary btn-large">GadatajqGrid &raquo;</a></p>
    <p><a href="~/Maximo/WojqGrid" class="btn btn-primary btn-large">MaximoWojqGrid &raquo;</a></p>
    <p><a href="~/Gadata/DiffWebgrid" class="btn btn-primary btn-danger">GadatajqGrid &raquo;</a></p>
    <p><a href="~/Gadata/DynamicWebgrid" class="btn btn-primary btn-sm">MaximoWojqGrid &raquo;</a></p>

   
</div>
