@{
    ViewBag.Title = "VCG GA UB12 Homepage";
}

<div class="jumbotron">
    <h1>Hellow</h1>
    <p class="lead">VCG GA UB12 Homepage</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
