@{
    ViewBag.Title = "VCG GA UB12 Homepage";
}

<div class="jumbotron">
    <h1>Hellow</h1>
    <p class="lead">VCG GA UB12 Homepage</p>
    <p><a href="~/Gadata/WebGrid" class="btn btn-primary btn-large">GadataWebGrid_Test &raquo;</a></p>
    <p><a href="~/Gadata/jqGrid" class="btn btn-primary btn-large">GadatajqGrid_Test &raquo;</a></p>

    
    <p><a href="~/Gadata/DynamicWebgrid" class="btn btn-primary btn-sm">DynamicGadataGrid &raquo;</a></p>
    <p><a href="~/Difftable/Index" class="btn btn-primary btn-sm">QueryDiffer &raquo;</a></p>
   
</div>
