@{
    ViewBag.Title = "VCG GA UB12 Homepage";
}

<div class="jumbotron">
    <h1>Hellow</h1>
    <p class="lead">VCG GA UB12 Homepage</p>

    <p><a href="~/Gadata/DynamicWebgrid" class="btn btn-primary btn-sm">DynamicGadataGrid(Tipstatus) &raquo;</a></p>

    <p><a href="~/Gadata/PloegRapportWebgrid" class="btn btn-primary btn-sm">PloegRapport &raquo;</a></p>
    <p><a href="~/Gadata/SupervisieWebgrid" class="btn btn-primary btn-sm">Supervisie &raquo;</a></p>
    <p><a href="~/Difftable/Index" class="btn btn-primary btn-sm">QueryDiffer &raquo;</a></p>
   
</div>
