@{
    ViewBag.Title = "redirect";
}


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@ViewBag.redirectURL" allowfullscreen></iframe>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    });
</script>
