@{
    ViewBag.Title = "Settings";
}

<div class="jumbotron">
    <h1>This is an Admin area!</h1>
</div>

<p></p>

@Html.Action("_settings", "job", new { area = "hanfirearea" })

<p></p>

@Html.Action("_settings", "Users", new { area = "user_management" })

<p></p>

@Html.Action("_settings", "UserScreens", new { area = "user_management" })

<p></p>

@Html.Action("_settings", "alert", new { area = "alert" })

<p></p>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">TOOLS</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <p><a href="http://gensvw1051:5601/app/kibana#/discover?_g=()" class="btn btn-danger btn-sm">Kibana (VIDS) &raquo;</a></p>
        <p><a href="~/vasc/vasc/index" class="btn btn-danger btn-sm">VASC &raquo;</a>Manage VASC</p>
    </div>
</div>
