<div class="container body-content">
    <div class="container page-header">
        <h1>Selecteer wat je wil doen</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">UB12 Home</h1>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <p>
                <a href="~/NgacElectrode/PlanTipChange" class="btn btn-warning btn-lg btn-block">Plan tipchange (Onderhoudplannen) &raquo;</a>
            </p>

            <p>
                <a href="http://maximoui.volvocars.biz/maximo/webclient/login/login.jsp?appservauth=true" class="btn btn btn-lg btn-block">Maximo &raquo;</a>
            </p>
        </div>
    </div>

</div>