
<div id="l_controlLimitsGrid" class="mvc-grid"></div>


    <script>
        $('#l_controlLimitsGrid').html("Loading...");
        $("#l_controlLimitsGrid").mvcgrid({
            sourceUrl: '@Url.Action("_ControlLimitsGrid", new { alarmobject = ViewBag.alarmobject, c_trigger_id = ViewBag.c_trigger_id, showIsDead = ViewBag.showIsDead })',
            requestType: 'get',
            reload: true,
            rowClicked: function (row, data, e) {
            //if row already has this clase close the modal
            if ($(row).hasClass("bg-info")) {
                $("#placeholder1").remove();
                $(row).removeClass("bg-info");
                return;
            }
            //clear selected rows for this table
            $('tr').removeClass('bg-info'); //THIS IS WRONG
            $(row).addClass("bg-info");
            $("#placeholder1").remove(); //clear placeholder is exists
            //add new placeholder afhter selected row
            $(row).after('<tr id="placeholder1"><td colspan="1000"><div class=""><div class="" id ="placeholderPartial1"></div></div></td></tr>');
            //load partial into div
            $("#placeholderPartial1").load('@Url.Action("_ControlChart","Alert")?l_controllimit_id=' + data["id"] );
            //listen toclick events
            //
            },
            reloadFailed: function (result) {
                $('#l_controlLimitsGrid').html("Error while loading!!!");
            }
            });
    </script>