

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all control limits</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="controllimitPlaceholder"></div>


@section scripts{
<script>
    //full with screen
    $("#allcontent").removeClass("body-content");
    $("#allcontent").removeClass("container");
    $("#controllimitPlaceholder").load("@Url.Action("_List", new { showIsDead = ViewBag.showIsDead })");
</script>
}