@model IEnumerable<EqUiWebUi.Areas.Alert.Models.l_controlLimits>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all control limits</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Named("l_controlLimits").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Desc).Css("XXd-none XXd-md-block");;
    columns.Add(c => c.c_triggers.alertType).Titled("alertType");
    columns.Add(c => c.CreateDate).Titled("CreateDate").Formatted("{0:dd-MM-yyyy HH:mm:ss}").Css("XXd-none XXd-md-block");;
    columns.Add(c => c.L_CreateUser.username).Titled("ChangedUser").Css("XXd-none XXd-md-block");;
    columns.Add(c => c.alarmobject).Titled("alarmobject");
    columns.Add(c => c.UpperLimit).Titled("UCL");
    columns.Add(c => c.LowerLimit).Titled("LCL");
    columns.Add(c => c.l_variants.variantGroup).Titled("variantGroup");
    columns.Add(c => c.isdead).Titled("isdead");
    //add edit button
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "glyphicon glyphicon-pencil", "", "Edit this controllimit")
                    ).Filterable(false);

}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 17;
}).Empty("Did not find anything").Css("table-hover")


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}