
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">Alert triggers</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <p><a href="~/Alert/triggers/index" class="btn btn-primary btn-sm">Triggers &raquo;</a>Alert triggers manager </p>
    </div>
<<<<<<< HEAD
    <div class="panel-body">
        <p><a href="~/Alert/home/ConfigHangfire" class="btn btn-primary btn-sm">configureHangfire &raquo;</a>configureHangfire </p>
    </div>
=======
>>>>>>> 5db2146... start implementing new alert system (and sms controller)
</div>
