
@{
    ViewBag.Title = "Index Qteam";
}

<div class="jumbotron">
    <h1>WELCOME bij het Qteam</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Extra Controles
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/rt_ExtraControles", "fas fa-tachometer-alt", "ExtraControles", helperText: " Automatische lijst met de Extra Controles")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Plannen laatst uitgevoerd
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/_Plans", "fas fa-tachometer-alt", "Auto Plannen ", helperText: "Automatische lijst met de Ultralog plannen laatst uitgevoerd")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Ultralog Rapportering
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/ULRapportering", "fas fa-tachometer-alt", "Ultralog Rapport Last Week ", helperText: "Automatische lijst rapportering Ultralog")

</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            UL Data Tools & Alerts
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <p>
    <p>
        <a href="~/Alert/Alert/Listalerts?h_alert-c_triggers.alert-type-contains=ULrapport&h_alert-rows=20" class="btn btn-primary btn-sm"> pss en spot positie alert &raquo;</a>

    <p></p>

    @*This card is default collapsed see fa-rotate-180 and display:none*@
    <div class="card">
        <div class="card-header bg-danger">
            <h5 class="card-title text-white">
             Ultralog Config
                <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
            </h5>
        </div>
        <div class="card-body" style="display:none">

            <p>
                <a href="~/Welding/Inspectionplans/Index" class="btn btn-primary btn-sm">Config Ul plannen&raquo;</a>
                Beheer van de DB plannen
            </p>

            <a href="~/Welding/ULplan_start/Index" class="btn btn-primary btn-sm">Plan Busy&raquo;</a>
            Beheer van de DB plan busy list
            </p>
            <a href="~/Welding/Welding/_AlertsUserRapport" class="btn btn-primary btn-sm">StoringsIngave&raquo;</a>
            Beheer van de StoringsIngaven
            </p>
            <a href="~/Welding/Welding/_AlertsUserRapport" class="btn btn-primary btn-sm">SpotIdentMeasurements&raquo;</a>
            Beheer van de SpotIdentMeasurements
            </p>


        </div>

</div>
</div>


</div>
<p></p>

