
@{
    ViewBag.Title = "Index Qteam";
}

<div class="jumbotron">
    <h1>WELCOME bij het Qteam</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
            Extra Controles
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/rt_ExtraControles", "far fa-file-alt", "ExtraControles", helperText: "omschrijving =>> Automatische lijst met de Extra Controle")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
            Plannen laatst uitgevoerd
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/rt_AutoWorkFlowULPlans", "far fa-file-alt", "Auto Plannen ", helperText: "omschrijving =>> Automatische lijst met de Ultralog plannen laatst uitgevoerd")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
            Ultralog Rapportering
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/ULRapportering", "far fa-file-alt", "Ultralog Rapport Last Week ", helperText: "omschrijving =>> Automatische lijst rapportering Ultralog")

</div>
<p></p>

