
@model IQueryable<EqUiWebUi.Areas.Welding.Models.rt_AutoWorkFlowULPlans>
@{
    ViewBag.Title = "rt_AutoWorkFlowULPlans";
}

@Html.Grid(Model).Named("rt_AutoWorkFlowULPlans").Build(columns =>
{
    columns.Add(c => c.LastinspectionTime).Titled("LastinspectionTime").Formatted("{0:dd-MM-yyyy HH:mm:ss}");
    columns.Add(c => c.UL_Plan).Titled("UL_Plan");
    columns.Add(c => c.LastnumberFromPlanBusy).Titled("Planbusy");
    //columns.Add(c => c)
    //  .Titled("Planbusy")
    //.Encoded(false)
    // .RenderedAs(c => "<div class='bg-danger'>Test</div>");
    columns.Add(c => c.Planlenght).Titled("Planlenght");
    columns.Add(c => c.Last30min_productionStatus).Titled("Last30min_productionStatus").Css("bolded");
    columns.Add(c => c.BuildBody).Titled("BuildBodys").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.PreviousPlace).Titled("PreviousPlace");


}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 12;

}
        ).Sortable().Css("table-hover").RowCss(model => model.LastnumberFromPlanBusy > 0 ? "ani_PulseBlueRepeat" : "");




        @section scripts{
            <script>
                //full with screen
                $("#allcontent").removeClass("body-content");
                $("#allcontent").removeClass("container");
                //  $actualRow.css('background-color', '#0094ff');
                // $("#allcontent").html("<i class='fas fa-spinner fa-spin fa-2x'></i>")


                //function to refresh grid
               function refreshGrid() {
                    console.log('function is being called')
                    $('[data-name="rt_AutoWorkFlowULPlans"]').mvcgrid({
                        reload: true,

                        reloadStarted: function () {
                            // this - grid instance which invoked the event
                        },
                        reloadEnded: function () {
                            // this - grid instance which invoked the event
                        },
                        reloadFailed: function (result) {
                            // this - grid instance which invoked the event
                            // result - failed ajax response result
                        }
                    });
                }

                setInterval(function () {
                    refreshGrid()
                }, 1000 * 120)


            </script>

      
     
}