
@model IQueryable<EqUiWebUi.Areas.Welding.Models.rt_AutoWorkFlowULPlans>
@{
    ViewBag.Title = "rt_AutoWorkFlowULPlans";
}

<h2>AutomaticWorkFlowULPlans</h2>
@Html.Grid(Model).Named("rt_AutoWorkFlowULPlans").Build(columns =>
{
    columns.Add(c => c.LastinspectionTime).Titled("LastinspectionTime").Formatted("{0:dd-MM-yyyy HH:mm:ss}");
    columns.Add(c => c.UL_Plan).Titled("UL_Plan");
    columns.Add(c => c.LastnumberFromPlanBusy).Titled("Planbusy").Css("bolded") ;
    columns.Add(c => c.Planlenght).Titled("Planlenght").Css("bolded");
    columns.Add(c => c.Last30min_productionStatus).Titled("Last30min_productionStatus");
    columns.Add(c => c.BuildBody).Titled("BuildBody").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.WorkGroup).Titled("WorkGroup");

}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" } };
    //{ 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}
).Sortable();


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
        $actualRow.css('background-color', '#0094ff');
                       // $("#allcontent").html("<i class='fas fa-spinner fa-spin fa-2x'></i>")


        //function to refresh grid
        function refreshGrid() {
            console.log('function is being called')
            $('[data-name="rt_AutoWorkFlowULPlans"]').mvcgrid({
                reload: true, 

                reloadStarted: function () {
                    // this - grid instance which invoked the event
                },
                reloadEnded: function () {
                    // this - grid instance which invoked the event
                },
                reloadFailed: function (result) {
                    // this - grid instance which invoked the event
                    // result - failed ajax response result
                }
            });
        }

        setInterval(function () {
            refreshGrid()
        }, 1000*10)

    </script>
    <style>
        .collapse {
            display: none;
        }

        .bolded {
            font-weight: bold;
        }
    </style>
}

