
@model IQueryable<EqUiWebUi.Areas.Welding.Models.ULRapportering>
@{
    ViewBag.Title = "ULRapportering";
}

<h2>UltralogRapportering</h2>
@Html.Grid(Model).Named("ULRapportering").Build(columns =>
{
    columns.Add(c => c.EndTimePlan).Titled("PlanAfgewerkt").Formatted("{0:dd-MM-yyyy HH:mm:ss}").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.name).Titled("UL_Plan or remarks");
    columns.Add(c => c.Ullaptop).Titled("Ullaptop");
    columns.Add(c => c.DurationStoring).Titled("Tijd_Storing");
    columns.Add(c => c.userComment).Titled("OperatorComment");
    columns.Add(c => c.spot).Titled("spot");
    columns.Add(c => c.loose_).Titled("Loose");

}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 40;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}
).Sortable().RowCss(model => model.DurationStoring > 0  || model.spot > 0 ? "ani_PulseBlueRepeat" : "");

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
    <style>
        .red {
            background-color: #ff0000;
        }
    </style>
  
}
