@model IQueryable<EqUiWebUi.Areas.Welding.Models.AutomaticWorkFlowULPlans>
@{
    ViewBag.Title = "AutomaticWorkFlowULPlansFilter";
}

<h2>AutomaticWorkFlowULPlans</h2>

<div class="alert alert-info">

    This was prefilterd using Ul_planFilter: "@ViewBag.Ul_planFilter"
</div>

@Html.Grid(Model).Named("AutomaticWorkFlowULPlansFilter").Build(columns =>
{
    columns.Add(c => c.LastInspectionTime).Titled("LastInspectionTime").Formatted("{0:dd-MM-yyyy HH:mm:ss}").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.UL_plan).Titled("UL_plan");
    columns.Add(c => c.BuildBody_s).Titled("BuildBody_s");
    columns.Add(c => c.WorkGroup).Titled("WorkGroup");
    columns.Add(c => c.WorkLocation).Titled("WorkLocation");
    columns.Add(c => c.Last30min_productionStatus).Titled("Last30min_productionStatus");

}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 17;
}).Empty("Did not find anything").Css("table-hover").RowCss(row => MyRowStyling.getRowStyleAutomaticWorkFlowULPlans(row.Last30min_productionStatus))
