
@{
    ViewBag.Title = "Pagina1";
    Layout = "~/Areas/Welding/Views/Shared/_Layout.cshtml";
}

<h2>Pagina1</h2>

<div>
    <h3>Gewoon iets</h3>
    @ViewBag.data1
    <hr />
    @ViewBag.data2
</div>