print 'init check [Alerts].[c_triggers]'

IF (SELECT count(*) FROM  [Alerts].[c_triggers]) = 0
BEGIN
Print 'init data insert [Alerts].[c_triggers]'
SET IDENTITY_INSERT [Alerts].[c_triggers] ON 

INSERT [Alerts].[c_triggers] ([id], [enabled], [discription], [RunAgainst], [sqlStatement], [smsSystem], [initial_state], [Cron], [alertType], [AutoSetStateTechComp], [smsOnRetrigger], [enableSMS], [isDowntime], [isInReport], [hasControlLimits], [controllimitSqlStatement], [controlChartSqlStatement], [Animation], [isDebugmode], [c_datasource_id], [controlChartYlabel]) VALUES (1, 1, N'NGAC SlowSpeed  robots not at 100% speed (>60min)', 0, N'SELECT  
  x._timestamp      AS ''timestamp''
, ''ROBOT SPEED LOW value: '' +  CAST(x.[value] as varchar(3)) + '' since @''+CONVERT(char(19),x._timestamp, 120)   AS ''info''
, x.id				 AS ''refId''
, c.LocationTree     As ''LocationTree''
, c.ClassificationTree as ''ClassTree''
, c.controller_name		AS ''Location''
, c.controller_name     AS  ''alarmobject''
from (--nested to optimize return result for next join
select 
 rt.*
,ROW_NUMBER() OVER (PARTITION BY rt.c_controller_id, rt.c_variable_id ORDER BY rt._timestamp DESC) AS ''rnDesc''
from NGAC.[rtu_SpeedOvr] as rt 
) as x
left join NGAC.c_controller as c on c.id = x.c_controller_id
where x.[value] <> 100 AND x.rnDesc = 1
and x._timestamp < GETDATE()-''1900-01-01 01:00:00''', 2, 1, N'*/5 * * * *', N'SlowSpeed', 1, 1, 1, 0, 1, 0, N'select getdate() as ''test2''', N'test ', N'ani_BlinkPink', 0, 1, NULL)

INSERT [Alerts].[c_triggers] ([id], [enabled], [discription], [RunAgainst], [sqlStatement], [smsSystem], [initial_state], [Cron], [alertType], [AutoSetStateTechComp], [smsOnRetrigger], [enableSMS], [isDowntime], [isInReport], [hasControlLimits], [controllimitSqlStatement], [controlChartSqlStatement], [Animation], [isDebugmode], [c_datasource_id], [controlChartYlabel]) VALUES (3, 1, N'NGAC BarrelLow Checks warning level for dispense system barrel', 0, N'SELECT  
  x._timestamp      AS ''timestamp''
, ''Dispense Barrel LOW since @''+CONVERT(char(19),x._timestamp, 120)   AS ''info''
, x.id				 AS ''refId''
, c.LocationTree     As ''LocationTree''
, ''UST'' as ''ClassTree''
, c.controller_name		AS ''Location''
, c.controller_name     AS  ''alarmobject''
from (--nested to optimize return result for next join
select 
 rt.*
,ROW_NUMBER() OVER (PARTITION BY rt.c_controller_id, rt.c_variable_id ORDER BY rt._timestamp DESC) AS ''rnDesc''
from NGAC.rt_Disp_BarrelLow as rt 
) as x
left join NGAC.c_controller as c on c.id = x.c_controller_id
where x.[value] = 1 AND x.rnDesc = 1', 2, 1, N'0 * * * *', N'BarrelLow', 1, 0, 1, 0, 1, 0, NULL, NULL, N'ani_PulseGreen', 0, 1, NULL)

END