@model IEnumerable<EqUiWebUi.Areas.VWSC.Models.VWSC_c_error>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of c_error</h2>

<p>
    @Html.ActionLink("Add a new c_error", "Edit", new { id = -1 })
</p>

@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}


