@{
    ViewBag.Title = @TempData["error"];
}
<div class="jumbotron">
    <h1>@TempData["error"]</h1>
</div>

<p></p>

<div class="card">
    <h4>Sorry</h4>
    <div class="card-body">
        <p>
            <div class="">
                <i class="fas fa-lock fa-10x text-danger"></i>
                <h1>Looks like you don't have the power to go here.</h1>
            </div>
        </p>

        <p>
            <button class="btn btn-primary btn-danger" onclick="goback()" type="button"><<< Back</button>

        </p>
        <p><a href="~/user_management/user/LoginPrompt" class="btn btn-warning btn-sm float-right">SwitchUser &raquo;</a></p>
    </div>
</div>
<p></p>


<script>
    function goback() {
        window.history.back()
    }
</script>