@{
    ViewBag.Title = @TempData["error"];
}
<div class="card">
    <h4>@TempData["error"]</h4>
    <div class="card-body" id="Error">
        <div class="card-body">
            <h3><i class="fas fa-lock fa-5 text-danger"></i>Looks like you don't have the power to go here.</h3>
            <div class="alert alert-warning">
                <div class="alert-heading">
                    <h5>
                        Exception
                        @*<span><small>(Controller: <strong>@Model.ControllerName</strong>  Action: <strong>@Model.ActionName)</strong></span></small>*@
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <button class="btn btn-primary btn-danger" onclick="goback()" type="button"><<< Back</button>
</p>

<script>
    function goback() {
        window.history.back()
    }
</script>