@model IEnumerable<EqUiWebUi.Areas.Alert.Models.c_SMSconfig>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index of c_SMSconfig</h2>
    <div class="alert alert-info">
        <h4>
            <strong>This tabels joins SMSsystem with CPT600</strong>
        </h4>

        <div class="text-muted">

        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Named("c_SMSconfig").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.c_smsSystem.id).Titled("c_smsSystemID").Css("d-none");
    columns.Add(c => c.c_smsSystem.system).Titled("c_smsSystem");
    columns.Add(c => c.c_CPT600.Discription).Titled("c_CPT600");
    columns.Add(c => c.c_CPT600.LocationTree).Titled("LocationTree");
    columns.Add(c => c.c_CPT600.AssetRoot).Titled("AssetRoot");
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Delete", "Delete", new { id = c.id })
                ).InitialSort(GridSortOrder.Asc).Filterable(false);
}).Filterable(true).Sortable(true).Empty("Did not find anything").Css("table-hover")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}