<div class="card">
    <div class="card-header bg-warning">
        <h6 class="card-title">
            CheckStatement resul
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1 text-black-50"></i></span>
        </h6>
    </div>
    <div class="card-body">
        @Html.Raw(ViewBag.mandatoryColumnsResult)
    </div>
</div>
