@model EqUiWebUi.WebGridHelpers.DefaultModel

<html>
<head>
    <meta name="viewport"
          content="width=device-width" />

    <title> DisplayGrid  </title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <style type="text/css">
        .mainpanel {
            margin-left: 230px;
            min-height: 636px;
            padding: 20px;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
        }

        .info th {
            background: #E0E0E0 !important;
        }

            .info th a {
                color: #000000;
                font-weight: normal;
            }
    </style>

    @*stype for mouse hover color complete row *@
    <style type="text/css">
        /*Mouse hover*/
        #gridMapping tr:hover {
            background-color: #F5DEB3;
        }
    </style>

    @*main body*@
        @{
            ViewBag.Title = "Dynamic Gridview";
            WebGrid grid = new WebGrid(null, rowsPerPage: @Model.PageSize);
            grid.Bind(Model.Data, autoSortAndPage: true, rowCount: @Model.PageSize);
        }

        @grid.GetHtml(
                    htmlAttributes: new { id = "gridMapping" },
                    tableStyle: "table table-bordered",
                    headerStyle: "info",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "gridrow",
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: ViewBag.Columns
        )
</html>
