

@*set title*@
@{
    ViewBag.Title = "CurrentTipstatus";
}
@*html*@
<div>
    <p></p>
    <p></p>
    <div class="panel panel-default">

        <div class="panel-body">
            @Html.AjaxGrid(Url.Action("_TipStatus"))
        </div>

        <div class="panel-footer">
            @MyFilters.LocationDropdownGreenField("NgacTipStatus", "/NgacElectrode/CurrentTipstatus")
            <p style="float:right"> Last data push: ????</p>
        </div>
    </div>
</div>

@*scrip for blinking a row based on there value.*@
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            setInterval(flashRow, 750);
        });
        var bFlip = new Boolean(false);
        function flashRow() {
            bFlip = !bFlip;
            $('tbody > tr').each(function (index) {
                @*blink for slowspeed*@
                if ($(this).children('td:nth-child(5)').text() > 50) {
                    if (bFlip) {
                        $(this).children('td').css("background-color", "#f21a1a");
                    } else {
                        $(this).children('td').css("background-color", "#ffffff");
                    }
                }
            });
        }
    });
</script>

@*scrip for playing sound based on row value.*@
@*http://soundbible.com/grab.php?id=1252&type=mp3*@
@*http://soundbible.com/grab.php?id=1377&type=mp3*@
<script type="text/javascript">
    $(document).ready(function () {
        var bNeedToPlay = new Boolean(false);
        var sound = new Audio(src = "http://soundbible.com/grab.php?id=1377&type=mp3");

        $(function () {
            setInterval(CheckSound, 1000 * 60);
            CheckSound();
        });

        function CheckSound() {
            bNeedToPlay = false;
            $('#gridMapping > tbody > tr').each(function (index) {
                if ($(this).children('td:nth-child(5)').text() > 30) {
                    bNeedToPlay = true;
                }
            });
            if (bNeedToPlay) {
                console.log("playing sound");
                sound.play();
            }
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //enable polling for new data
        CheckRefreshTable(5, '@Url.Action("TipwearCheckNewData")', '@Url.Action("_TipStatus")', '#NgacTipStatus');
    });
</script>