@{
    ViewBag.Title = "NGAC tiplife manager";
}

    <div class="jumbotron">
        <h4>NGAC tiplife manager</h4>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>Greenfield</h4>
        <div class="panel-body">
            <p>
                <a href="~/NgacElectrode/CurrentTipstatus" class="btn btn-primary btn-sm">Active tiplife &raquo;</a>
                Huidige elektrode status inclusief een voorspelling van het aantal nog te lassen wagens
            </p>
            <p>
                <a href="~/NgacElectrode/TipwearBeforeChange" class="btn btn-primary btn-sm">Lijst met gewisselde elektrodes &raquo;</a>
                Weergave van waar er elektrodes gewisseld zijn geweest.
            </p>
            <p>
                <a href="~/NgacElectrode/PlanTipChange" class="btn btn-primary btn-sm">Plan tipchange &raquo;</a>
                Onderhoudplannen
            </p>
        </div>
    </div>
