@model IEnumerable<EqUiWebUi.Models.TipMonitor>

@*set title*@
@{
    ViewBag.Title = "Tipwear";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>

@*main grid*@
<div class="code-cut">
    @Html.Grid(Model).Named("DataGrid").Build(columns =>
{
    columns.Add(c => c.Robot).Titled("Robot").Filterable(true);
    columns.Add(c => c.Date_Time).Titled("Laaste keer gefreest").Formatted("{0:dd-MM-yyyy HH:mm}");
    columns.Add(c => c.pWear).Titled("%wear").Filterable(true);
    columns.Add(c => c.nRspots).Titled("remainingSpots");
    columns.Add(c => c.nRcars).Titled("remainingCars");
    columns.Add(c => c.TipAge_h_).Titled("Electrode leeftijd (h)");
    columns.Add(c => c.LocationTree)
    .Titled("Info")
    .Encoded(false)
    .Filterable(true)
    .RenderedAs(o => "Dummy");

}).Sortable().Empty("No data found")
</div>



