<h2>Webviews tableau (data update gebeurd nog NIET automatisch)</h2>

<div></div>
<p><a href="~/tableau/LongTerm_Layout_STO_NGAC" class="btn btn-primary btn-sm">LongTerm_Layout_STO_NGAC &raquo;</a></p>
<p><a href="~/tableau/LongTerm_Treemap_STO_NGAC" class="btn btn-primary btn-sm">LongTerm_Treemap_STO_NGAC &raquo;</a></p>
<p><a href="~/tableau/LongTerm_Layout_STW040_MAXIMO" class="btn btn-primary btn-sm">LongTerm_Layout_STW040_MAXIMO &raquo;</a></p>