
<div class="jumbotron">
    <h2>Webviews tableau</h2>
    <h5>(data update gebeurd nog NIET automatisch)</h5>
    <h5>(gebruik user: e6308159 pw: e6308159 om in te loggen in tableau)</h5>
    <h3>Welja ...misschien ooit als IT eindelijk die account aanmaakt... INC1939274 </h3>
    <hr />
    <h3>Gekende problemen</h3>
    Als tableau hier niet automatisch geladen wordt (grijs scherm)
    Ga naar <a href="https://tableau-test.volvocars.biz" class="btn btn-primary btn-sm">Tableau server &raquo;</a> en log daar eerst in.

    Als de 'maximo' tools in tableau niet automatisch laden.
    Ga naar <a href="https://equi" class="btn btn-primary btn-sm">https equi &raquo;</a>en probeer langs deze weg.
</div>

<div>
    <h4>Desktop computers (max full HD)</h4>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Manuele storings registratie (Maximo STW040)</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_MaximoStw040&sheet=Layout_MaximoStw040" class="btn btn-primary btn-sm">LongTerm_Layout &raquo;</a>
                layout data van STW040 en MAXIMO (ci)
            </p>

            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_MaximoStw040&sheet=Dash_MaximoStw040" class="btn btn-primary btn-sm">LongTerm_Layout &raquo;</a>
                layout data van STW040 en MAXIMO (ci) + Maximo tool
            </p>

        </div>
    </div>
    <p></p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Automatische storings registratie (VCSC VASC)</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_breakdowns&sheet=Layout_CountofDt" class="btn btn-primary btn-sm">LongTerm_Layout &raquo;</a>
                layout met aantal storingen
            </p>

            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_breakdowns&sheet=Dash_Layout_Breakdown" class="btn btn-primary btn-sm">LongTerm_Layout &raquo;</a>
                layout met aantal storingen + error trent grafiek
            </p>

            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_breakdowns&sheet=ObjectTree" class="btn btn-primary btn-sm">ObjectTree &raquo;</a>
                Boommap met aantal storingen
            </p>

            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_breakdowns&sheet=DressByFault" class="btn btn-primary btn-sm">Dress Fouten &raquo;</a>
                Boommap met dressproblemen per fout type 
            </p>

        </div>
    </div>
    <p></p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Test area</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <p>
                <a href="~/tableau/EmbeddedDesktop?workbook=EquiEmbedded_Assets&sheet=AssetLayoutDashboard" class="btn btn-primary btn-sm">AssetLayout &raquo;</a>
                Layout assets (om te zien of alles gemapt is)
            </p>
        </div>
    </div>
</div>

<hr />

<div>
    <h4>4K Digiborden (max ultra HD)</h4>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">4K</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">

            <p>
                <a href="~/tableau/Embedded4K?workbook=EquiEmbedded_breakdowns&sheet=Layout_CountofDt" class="btn btn-primary btn-sm">4K Layout_CountofDt &raquo;</a>
                Bollen op layout data van STO (plc) en NGAC (abb robots)
            </p>

            <p>
                <a href="~/tableau/Embedded4K?workbook=EquiEmbedded_breakdowns&sheet=ObjectTree" class="btn btn-primary btn-sm">4K ObjectTree &raquo;</a>
                Boommap data van STO (plc) en NGAC (abb robots) een top oneindig visualisatie
            </p>

            <p>
                <a href="~/tableau/Embedded4K?workbook=EquiEmbedded_MaximoStw040&sheet=Dash_MaximoStw040" class="btn btn-primary btn-sm">Dash_MaximoStw040 &raquo;</a>
                Bollen op layout data van STW040 en MAXIMO (ci)
            </p>

        </div>
    </div>
</div>
