@{
    ViewBag.Title = "Tableau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Webviews tableau</h2>
    <div class="badge text-left">
        <h5>
            (gebruik user:
            <strong>e6308159</strong> pw:
            <strong>e6308159</strong> om rechtstreeks in te loggen in <a href="https://tableau-test.volvocars.biz/#/signin?closePopupWhenDone=true&site=Ghent&authSetting">Tableau server &raquo;</a>)
        </h5>
        *Enkel nodig om dashborden te bekijken die hieronder NIET beschikbaar zijn.
    </div>

    <div class="badge text-left">
        <a href="https://sway.com/5uelU8Pra3GK1N9i">Tableau Manual</a>
    </div>
</div>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Manuele storings registratie (Maximo STW040)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=MaximoStw040&sheet=LineLayout_MaximoStw040" class="btn btn-warning btn-sm">LineLayout&raquo;</a>
            Line layout STW040 en MAXIMO
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=MaximoStw040&sheet=StationLayout_MaximoStw040" class="btn btn-warning btn-sm">StationLayout&raquo;</a>
            Station layout STW040 en MAXIMO
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=MaximoStw040&sheet=AssetLayout_MaximoStw040" class="btn btn-warning btn-sm">AssetLayout&raquo;</a>
            Asset layout STW040 en MAXIMO + Maximo tool
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Afstart&sheet=Afstart" class="btn btn-primary btn-sm">Afstart&raquo;</a>
            Geplande afstart situatie maximo
        </p>

        <hr />

        <p>
            <a href="http://biwebreports:8080/reports/vcg/VCG_Manufacturing_And_Supply_Chain/Manufacturing/Maximo7/Defrap_GA_Last_24Hrs.pdf" class="btn btn-info btn-sm">BI-maximo web report&raquo;</a>
            Defrap_GA_Last_24Hrs
        </p>

    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Automatische storings registratie (VCSC VASC STO)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Breakdowns&sheet=LineLayout_Breakdown" class="btn btn-warning btn-sm">LineLayout&raquo;</a>
            Line layout met aantal storingen
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Breakdowns&sheet=StationLayout_Breakdown" class="btn btn-warning btn-sm">StationLayout&raquo;</a>
            Station layout met aantal storingen
        </p>


        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Breakdowns&sheet=AssetLayout_Breakdown" class="btn btn-warning btn-sm">AssetLayout&raquo;</a>
            Asset layout met aantal storingen + error trent grafiek
        </p>


        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Breakdowns&sheet=ObjectTreeWithTrend" class="btn btn-primary btn-sm">Tree (FaultLevel) &raquo;</a>
            Aantal storingen per fout + trend grafiek
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=RackTracking&sheet=RackDash" class="btn btn-primary btn-sm">Rack &raquo;</a>
            Pickfouten in rekken (Greenfield)
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Bolting&sheet=BoltingDash" class="btn btn-primary btn-sm">Bolting &raquo;</a>
            Aantal schroeffouten  (HOP)
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Alerts&sheet=StationLayout" class="btn btn-primary btn-sm">Alerts &raquo;</a>
            Overzicht van alerts
        </p>

    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            IE
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=AvailabilityMap&sheet=Dash" class="btn btn-warning btn-sm">Beschikbaarheid &raquo;</a>
            Opvolging beschikbaarheid (Stations niveau)
        </p>
        <p class="text-muted">*Dit systeem update nog NIET automatisch en is in beta</p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=RobotCycleTime&sheet=CTrobot" class="btn btn-primary btn-sm">CTrobot &raquo;</a>
            Robotcycletime (Greenfield)
        </p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Asset management
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body" style="display:none">
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Assets&sheet=BlockLayout" class="btn btn-primary btn-sm">BlockLayout &raquo;</a>
            Layout (om te zien of alles gemapt is)
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Assets&sheet=ResponsibleProductionTeam" class="btn btn-primary btn-sm">ResponsibleProductionTeam &raquo;</a>
            Layout die toont welke verantwoordelijkheid bij welk PRODUCTIE team zit.
        </p>

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Assets&sheet=ResponsibleTechnicianTeam" class="btn btn-primary btn-sm">ResponsibleTechnicianTeam &raquo;</a>
            Layout die toont welke verantwoordelijkheid bij welk MAINT team zit.
        </p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Productie (Furkan)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=Kostenschrootonderdelen&sheet=Dashboard1" class="btn btn-primary btn-sm">Schrootkosten &raquo;</a>
            Opvolging van productie stukken die verschroot worden
        </p>
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=PBM_Augustus2018&sheet=Dashboard1" class="btn btn-primary btn-sm">PBMkosten &raquo;</a>
            Opvolging van kosten beschermingsmiddelen per team
        </p>
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=GADownTimeAnalysis&sheet=1_GADownTimeAnalysis" class="btn btn-primary btn-sm">GADownTimeAnalysis &raquo;</a>
            A-Shop downtime Analysis
        </p>
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=TipChangeAnalysis&sheet=DashboardTipchangeAnalysis" class="btn btn-primary btn-sm">TipchangeAnalysis &raquo;</a>
            Koper verbruik en tipchanges.
        </p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Automatic fault registration. (VASC tableau demo) *Testing to move to powerbi
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=VCCH_Breakdowns&sheet=ObjectTreeWithTrend" class="btn btn-primary btn-sm">Tree (FaultLevel) &raquo;</a>
            Aantal storingen per fout + trend grafiek
        </p>
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=VCCH_TipChangeAnalysis&sheet=DashboardTipchangeAnalysis" class="btn btn-primary btn-sm">Tipchange &raquo;</a>
            Tipchange analyse
        </p>

    </div>
</div>

