@model IEnumerable<EqUiWebUi.Models.logDetails>

@*set title*@
@{
    ViewBag.Title = "LogDetails";
}

<div>
    @Html.Grid(Model).Named("LogDetails").Build(columns =>
    {
        columns.Add(c => c.location).Titled("Location").Filterable(true);
        columns.Add(c => c.Subgroup).Titled("Subgroup");
        columns.Add(c => c.timestamp).Titled("Time");
        columns.Add(c => c.Fulllogtext).Titled("Logtext");

    }).Sortable().Pageable(pager =>
    {
        pager.RowsPerPage = 7;
    }).Empty("No data found")
</div>

@* Set font style to viewbag data*@
<script type="text/javascript">
    $(document).ready(function () {
        //hide the navbar in this view
        $('.navbar').hide();
        //set optional font size. (to support HD and 4K monitors  )
        setFont();
    });

 @* Set font style to viewbag data*@
    function setFont() {
        var myElements = document.querySelectorAll(".table");
        for (var i = 0; i < myElements.length; i++) {
            myElements[i].style.fontSize =  @ViewBag.fontSize + "px";
        }
    };
</script>