
@{
    ViewBag.Title = "LongTerm_Layout_STO_NGAC";
}

<h6>LongTerm_Layout_STO_NGAC</h6>

<script type='text/javascript' src='https://tableau-test.volvocars.biz/javascripts/api/viz_v1.js'></script>
<div>

</div>

<div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau-test.volvocars.biz%2F' />
        <param name='embed_code_version' value='2' />
        <param name='site_root' value='&#47;t&#47;Ghent' />
        <param name='name' value='EquiEmbeddedV1&#47;ErrorLayoutDashboard' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='showShareOptions' value='no' />
    </object>
</div>
