
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<script type='text/javascript' src='https://tableau-test.volvocars.biz/javascripts/api/viz_v1.js'></script>

<div class='tableauPlaceholder' style='width: 1745px; height: 805px;'>
    <object class='tableauViz' width='1745' height='805' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau-test.volvocars.biz%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='&#47;t&#47;Ghent' />
        <param name='name' value='EquiEmbedded_MaximoStw040&#47;Dash_MaximoStw040&#47;SDEBEUL@vccbiz.volvocars.biz&#47;9Oclock' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
    </object>
</div>