@*set title*@
@{
    ViewBag.Title = "Current electrode status";
}
<div class="card">
    <div class="card-header bg-dark text-white row">        
        <h4 class="col-8">Current electrode status</h4>
        @MyFilters.IconActionLink(Url.Action("PlanTipChange"),"fab fa-stack-exchange","Plan electrode change", "Go to electrode change planning tool",classes:"")
    </div>

    <div class="mvc-grid" data-name="TipStatusGrid"></div>
</div>

@*render popuover modal*@
<div id="MyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white'></i><span class='sr-only'>Loading...</span></div>
</div>


@section scripts{
    <script type="text/javascript">
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

    <!--Tipstatus script-->
    <script type="text/javascript">
        //render grid and subscrible to row clicked events
        $('[data-name="TipStatusGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $('[data-name="TipStatusGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_TipStatus")', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            rowClicked: function (row, data, e) {
                //ignore clicks not on td
                console.log(e.target.tagName);
                if (e.target.tagName.toUpperCase() != 'TD') {
                    return;
                }
                $('#MyModal').removeData('bs.modal');
                $('#MyModal').modal({ show: true });
                var urlTipinfo = '@Url.Action("_Tipinfo")?location=' + encodeURIComponent(data["robot"]) + '&tool_nr=' + encodeURIComponent(data["tool_-nr"]);

                $('#MyModal').load(urlTipinfo, function (result) { });
            },
            reloadFailed: function (result) {
                $('[data-name="TipStatusGrid"]').html($("#Error", result.responseText).html());
            }
        });

        //on modal close
        $('#MyModal').on('hidden.bs.modal', function (e) {
            $('#MyModal').html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white' ></i ><span class='sr-only'>Loading...</span></div >");
        });
    </script>

    <!--Handle signal R reload-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $.connection.hub.start()
            .done(function () {
                console.log("TipstatusGrid SignalR connected");
                $.connection.dataRefreshHub.server.joinGroup("TipstatusGrid");
            })
            .fail(function () { console.log("TipstatusGrid SignalR connect ERROR");});

        //trigger full window reload
        $.connection.dataRefreshHub.client.newData = function () {
            console.log("TipstatusGrid reload");
            $('[data-name="TipStatusGrid"]').mvcgrid({
                reload: true
            });
        };
    </script>
}
