@*set title*@
@{
    ViewBag.Title = "CurrentTipstatus";
}
<div class="card">
    <div class="card-header bg-primary">
        <h4>CurrentTipstatus</h4>
    </div>

    <div class="card-body">
        <div id="TipstatusGrid" class="mvc-grid"></div>
    </div>
</div>

@*render popuover modal*@
<div id="MyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white'></i><span class='sr-only'>Loading...</span></div>
</div>


@section scripts{
    <script type="text/javascript">
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

    <!--Tipstatus script-->
    <script type="text/javascript">
        //render grid and subscrible to row clicked events
        $('#TipstatusGrid').html('Loading...');
        $('#TipstatusGrid').mvcgrid({
            sourceUrl: '@Url.Action("_TipStatus")', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            rowClicked: function (row, data, e) {
                $('#MyModal').removeData('bs.modal');
                $('#MyModal').modal({ show: true });
                var urlTipinfo = '@Url.Action("_Tipinfo")?location=' + encodeURIComponent(data["robot"]) + '&tool_nr=' + encodeURIComponent(data["tool_-nr"]);

                $('#MyModal').load(urlTipinfo, function (result) { });
            },
            reloadStarted: function () {
            },
            reloadEnded: function () {
            },
            reloadFailed: function (result) {
                $("#TipstatusGrid").html("Error while loading!!!");
            }
        });

        //on modal close
        $('#MyModal').on('hidden.bs.modal', function (e) {
            $('#MyModal').html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white' ></i ><span class='sr-only'>Loading...</span></div >");
        });
    </script>

    <!--Handle signal R reload-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $.connection.hub.start()
            .done(function () {
                console.log("TipstatusGrid SignalR connected");
                $.connection.dataRefreshHub.server.joinGroup("TipstatusGrid");
            })
            .fail(function () { console.log("TipstatusGrid SignalR connect ERROR");});

        //trigger full window reload
        $.connection.dataRefreshHub.client.newData = function () {
            console.log("TipstatusGrid reload");
            $('#NgacTipStatus').mvcgrid({
                reload: true
            });
        };
    </script>
}
