@{
    ViewBag.Title = "NGAC tiplife manager";
}

    <div class="jumbotron">
        <h4>NGAC tiplife manager</h4>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>Greenfield</h4>
        <div class="panel-body">
            <p>
                <a href="~/Tiplife/NgacElectrode/CurrentTipstatus" class="btn btn-primary btn-sm">Active tiplife &raquo;</a>
                (Huidige elektrode status.)
            </p>
            <p>
                <a href="~/Tiplife/NgacElectrode/TipwearBeforeChange" class="btn btn-primary btn-sm">Tipwear before change &raquo;</a>
                (Weergave van giswisselde electrodes en hun wear.)
            </p>
            <p>
                <a href="~/Tiplife/NgacElectrode/TipDressData?DataGrid-ErrorType-Contains=Max%20wear%20reached&DataGrid-Rows=20" class="btn btn-warning btn-sm">Max wear reached &raquo;</a>
                (Robot is zelf naar onderhoud gegaan door max wear.)
            </p>
            <p>
                <a href="~/Alert/Alert/Listalerts?h_alert-c_triggers.alertType-Contains=Tiplife&h_alert-Rows=7" class="btn btn-warning btn-sm">Tiplife alerts&raquo;</a>
                (No changed deteced op teachpannel.)
            </p>
            <p>
                <a href="~/Tiplife/NgacElectrode/TipDressData?DataGrid-controller_name-Contains=xxx&DataGrid-Rows=20" class="btn btn-primary btn-sm">TipDressData &raquo;</a>
                (Data van elke bigdress.)
            </p>
            <p>
                <a href="~/Tiplife/NgacElectrode/TipLifeExpectations" class="btn btn-primary btn-sm">TipLifeExpectations &raquo;</a>
                (Voorspelling hoeveel stukken kunnen gemaakt worden met een electrode.)
            </p>

            <p>
                <a href="~/Tiplife/NgacElectrode/PlanTipChange" class="btn btn-primary btn-sm">Plan tipchange &raquo;</a>
                (Onderhoudplannen)
            </p>

            <p>
                <a href="~/Tiplife/NgacElectrode/TipDressCycleTimeREMO" class="btn btn-primary btn-sm">DressCt &raquo;</a>
                For Remo
            </p>

        </div>
    </div>
