@*set title*@
@{
    ViewBag.Title = "PlanTipChange";
}
    <div class="card">
        <div class="card-header bg-primary">
            <h4>Tipchange toolbox</h4>
        </div>

        <div class="card-body">
            @*plan false
                gebruiker geeft in het formulier waar en met welke voorwaardes hij elektrodes wil wisselen*@

            <div class="alert alert-danger">
                <h3>OPGEPAST!</h3>
                <diV>Deze tool mag enkel gebruikt worden in het BEGIN! van de ploeg.</diV>
                <div>We kijken vanaf nu niet langer enkel naar de (%wear). Maar naar het aantal stukken (#R Stukken) dat nog kunnen gebouwd worden.</div>

            </div>

            <div class="card">

                <div class="card-header bg-primary">
                    <h4>Plan het onderhoud</h4>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-5">
                            <label class="control-label col-sm-4" for="location">Op locatie</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("location", (SelectList)ViewBag.selectlist, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select a location--")
                            </div>
                        </div>
                    </div>

                    @*sam snapt het niet....*@
                    <div class="row"><a>.</a></div>

                    <div class="row">
                        <div class="col-sm-5">
                            <label class="control-label col-sm-8" for="minwear">waar de wear groter is dan</label>
                            <div class="col-sm-4">
                                <input class="form-control input-sm" type="number" min="0" max="100" step="5" value="80" id="minwear" />
                            </div>
                        </div>
                        
                        <div class="col-sm-7">
                            <label class="control-label col-sm-8" for="minparts">minimum resterende stukken kleiner dan</label>
                            <div class="col-sm-4">
                                <input class="form-control input-sm" type="number" min="0"  step="10" value="200" id="minparts"  />
                            </div>
                        </div>

                    </div>

                    @*sam snapt het niet....*@
                    <div class="row"><a>.</a></div>

                    <div class="row">
                        <div class="col-sm-5">
                            <label class="control-label col-sm-8" for="maxdress">aantal keer gefreesd groter dan</label>
                            <div class="col-sm-4">
                                <input class="form-control input-sm" type="number" min="0" max="200" step="10" value="180" id="maxdress" />
                            </div>
                        </div>

                        <div class="col-sm-7"></div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button class="btn-sm btn-primary" id="loadLocations">Zoek</button>
                </div>
            </div>
            @****************************************************************************************************************************@

            @*DO Hier word de lijst getoond met waar er moet gewisselde worden*@
            <div class="card" id="tipsToChangeContainer" style="display:none">

                <div class="card-header bg-primary">
                    <div class="row">
                        <h4 class="col-sm-6">Deze robots moeten gewisseld worden.</h4>
                        <div class="col-sm-3" style="float:right">
                            <input class="form-control input-sm"  id="changeStartlistDatepicker" />    
                        </div>
                    </div>
                </div>

                <div class="card-body" id="tipsToChangecontainer" style="position:relative">
                    <div id="tipsToChange" style="display:none">result wil be here</div>
                </div>

                <div class="panel-footer">
                    <button class="btn-sm btn-primary" id="loadverification">Verificatie</button>
                    <button class="btn-sm btn-success" id="printTipsToChange" style="float:right">Print &raquo;</button>
                </div>
            </div>
            @****************************************************************************************************************************@

            @*CHECK Hier moet een soort van bevestiging komen. user moet elke keer op refresh duwen en crossmatch met lijst van hierboven
                gebruik refernetie timestime van hierboven.*@
            <div class="card" id="tipsChangedContainer" style="display:none">

                <div class="card-header bg-primary">
                    <div class="row">
                        <h4 class="col-sm-6">Deze wissels NIET zijn gedetecteerd.</h4>
                        <div class="col-sm-3" style="float:right">
                            <input class="form-control input-sm" id="changeDonelistDatepicker" />
                        </div>
                    </div>
                </div>

                <div class="card-body" id="tipsChangedcontainer" style="position:relative">
                    <div id="tipsChanged" style="display:none">result wil be here</div>
                </div>

                <div class="panel-footer">
                    <button class="btn-sm btn-primary" id="RefreshVerification">Refresh</button>
                </div>
            </div>
            @****************************************************************************************************************************@
        </div>

        <div class="panel-footer">
            <a href="~/Tiplife/NgacElectrode/Index" class="btn-xs btn-primary">Electrode home &raquo;</a>
        </div>
    </div>



<script type="text/javascript">
//loading of first container and table "tips to change"
    var urlTipsToChange = '@Url.Action("_TipsToChange")';
    var spinner1 = new Spinner();
    $('#loadLocations').click(function () {
        //disable button
        $('#loadLocations').attr("disabled", true);
        //clear table if its there
        $("#tipsToChange").empty();
        //setting up datetimePicker
        var startDate = moment();
        $('#changeStartlistDatepicker').daterangepicker({
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "startDate": startDate,
            "timePicker" : true,
            "timePicker24Hour": true,
            "singleDatePicker": true,
            locale: {
                format: 'DD/MM/YYYY HH:mm'
            }

        }, function (end, start, label) {
            startDate = start;
        });

        //first fade in the container (will only fade in on first run)
        $("#tipsToChangeContainer").fadeIn();
        //load partial
            var locationfilter = $('#location').val();
            var minwear = $('#minwear').val();
            var minparts = $('#minparts').val();
            var maxdress = $('#maxdress').val();
            $("#tipsToChange").load(urlTipsToChange,
                {
                    locationFilter: locationfilter,
                    minWear: minwear,
                    minParts: minparts,
                    maxDress: maxdress
                },
                //this runs when load done
                function () {
                    //fade in the result table
                    $('#tipsToChange').fadeIn(1000,function () {
                        //hide spinner when fade completes
                        spinner1.stop();
                    });
                    //enable button
                    $('#loadLocations').removeAttr("disabled");
                }
            );
    })

//loading of second container and table "change check"
    var urlTipsChanged = '@Url.Action("_TipsChanged")';
    var spinner2 = new Spinner();
    $('#loadverification, #RefreshVerification').click(function () {
        //disable buttons
        $('#loadverification').attr("disabled", true);
        //clear table if its there
        $("#tipsChanged").empty();
        //set timestamp
        //setting up datetimePicker
        var EndDate = moment();
        $('#changeDonelistDatepicker').daterangepicker({
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "startDate": EndDate,
            "timePicker": true,
            "timePicker24Hour": true,
            "singleDatePicker": true,
            locale: {
                format: 'DD/MM/YYYY HH:mm'
            }

        }, function (end, start, label) {
            EndDate = start;
        });
        //start a wait spinner
        spinner2.spin(document.getElementById('tipsChangedcontainer'));
        //first fade in the container (will only fade in on first run)
        $("#tipsChangedContainer").fadeIn();
        //load partial
            var locationfilter = $('#location').val();
            var minwear = $('#minwear').val();
            var minparts = $('#minparts').val();
            var maxdress = $('#maxdress').val();
            var reportTimestamp = $("#changelistDatepicker").val();
            $("#tipsChanged").load(urlTipsChanged,
                {
                    locationFilter: locationfilter,
                    minWear: minwear,
                    minParts: minparts,
                    maxDress: maxdress
                },
                //this runs when load done
                function () {
                    //fade in the result table
                    $('#tipsChanged').fadeIn(1000,function () {
                        //hide spinner when fade completes
                        spinner2.stop();
                    });
                    //enable button
                    $('#loadverification').removeAttr("disabled");
                    console.log("hit1");
                }
            );
    })
</script>


@*print.js*@
<script type="text/javascript">
        $('#printTipsToChange').click(function () {
            console.log("print started");
            $('#tipsToChangeContainer').printThis({
                header: "<h1>Tipchange plan</h1>"
            });
        });
</script>