@model IQueryable<EqUiWebUi.Areas.Tiplife.Models.TipDressLogFile>

@*set title*@
@{
    ViewBag.Title = "TipDressData";
}

<div class="card">
    <div class="card-header bg-dark text-white">
        <h4>TipDressData</h4>
    </div>

    <div class="card-body">
        <div id="TipDressDataGrid" class="mvc-grid"></div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
        $('#TipDressDataGrid').html("<i class='fas fa-spinner fa-spin fa-2x'></i>")
        $('#TipDressDataGrid').mvcgrid({
            sourceUrl: '@Url.Action("_TipDressDataGrid")', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            reloadFailed: function (result) {
                console.log(result);
                $("#TipDressDataGrid").html($("#Error", result.responseText).html());
            }
        });
    </script>
}