@model IQueryable<EqUiWebUi.Areas.Tiplife.Models.TipDressLogFile>

@*set title*@
@{
    ViewBag.Title = "TipDressData";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>TipDressData</h4>
    </div>

    <div class="panel-body">
        @Html.Grid(Model).Named("DataGrid").Build(columns =>
   {
       columns.Add(c => c.controller_name).Titled("Robot").Filterable(true);
       columns.Add(c => c.Date_Time).Titled("Time_Robot").Formatted("{0:dd-MM-yyyy HH:mm}").InitialSort(GridSortOrder.Desc);
       columns.Add(c => c.C_timestamp).Titled("Time_db").Formatted("{0:dd-MM-yyyy HH:mm}");
       columns.Add(c => c.Weld_Counter).Titled("Weld_Counter").Filterable(true);
       columns.Add(c => c.Dress_Num).Titled("#Dress").Filterable(true);
       columns.Add(c => c.Wear_Fixed).Titled("Wear_Fixed").Filterable(true);
       columns.Add(c => c.Wear_Move).Titled("Wear_Move").Filterable(true);
       columns.Add(c => c.ErrorType).Titled("Error").Filterable(true);

       columns.Add()
         .Encoded(false)
         .Filterable(false)
         .Sortable(false)
         .RenderedAs(c => MyEquiToolkit.SbcuTool(c.controller_name, "1")); //need to add the toolnumber in die model
   }).Sortable().Pageable(pager =>
   {
       pager.RowsPerPage = 20;
   }).Empty("No data found").Css("table-hover")
    </div>

    <div class="panel-footer">
        <a href="~/Tiplife/NgacElectrode/Index" class="btn-xs btn-primary">Electrode home &raquo;</a>
    </div>
</div>