@model IQueryable<EqUiWebUi.Areas.Tiplife.Models.TipwearBeforeChange>

@*set title*@
@{
    ViewBag.Title = "TipwearBeforeChange";
}

<div class="card">
    <div class="card-header bg-primary">
        <h4>TipwearBeforeChange</h4>
    </div>

    <div class="card-body">
        <div id="TipwearBeforeChangeGrid" class="mvc-grid"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
        $('#TipwearBeforeChangeGrid').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $('#TipwearBeforeChangeGrid').mvcgrid({
            sourceUrl: '@Url.Action("_TipwearBeforeChangeGrid")', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true // Grid reload indicator
        });
    </script>
}