@{
    ViewBag.Title = "Settings";
}

<div class="container body-content">
    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p><a href="~/Hangfire" class="btn btn-primary btn-sm">Hangfire &raquo;</a>Beheer van background jobs. </p>
        <p><a href="~/Settings/GetUserGrants" class="btn btn-primary btn-sm">Users &raquo;</a>Beheer van gebruikers</p>

        
    </div>
</div>

<footer>
    <p>&copy; @DateTime.Now.Year - VCG GA SDEBEUL ASP.NET Application</p>
</footer>