@model IQueryable<EqUiWebUi.Areas.VWSC.Models.VWSC_rt_job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Grid(Model).Named("VWSC_rt_job").Build(columns =>
{
    columns.Add(c => c.id).Titled("rt_job_id").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.ngac_rt_job_id).Titled("ngacJobId");
    columns.Add(c => c.c_timer.NptId).Titled("NptId");
    columns.Add(c => c.C_timestamp).Titled("C_timestamp");
    columns.Add(c =>  (c.ts_End-c.ts_Start).GetValueOrDefault().TotalSeconds).Titled("CT");
    columns.Add(c => c.rt_weldmeasureprotddw_count).Titled("WC");
    columns.Add(c => c.rt_weldmeasureprotddw_distinct).Titled("DC");
    columns.Add(c => (c.rt_weldmeasureprotddw_count != c.rt_weldmeasureprotddw_distinct) ? true : false).Titled("D").Filterable(true);
    //
    columns.Add(c => c.rt_weldmeasureprotddw_id_Start).Titled("weldmeasureStart");
    columns.Add(c => c.rt_weldmeasureprotddw_id_End).Titled("weldmeasureEnd");
    //
    columns.Add(c => c.c_timer.Name).Titled("Timer");
    columns.Add(c => c.rt_breakdown_count).Titled("rt_breakdown_count");
    //
    columns.Add(c => c.rt_job_breakdown.Where(b => b.index == 1).FirstOrDefault().rt_alarm.dateTime).Titled("FirstErrdateTime");
    columns.Add(c => c.rt_job_breakdown.Where(b => b.index == 1).FirstOrDefault().rt_alarm.errorCode1).Titled("FirstErrcode");
    columns.Add(c => c.rt_job_breakdown.Where(b => b.index == 1).FirstOrDefault().rt_alarm.errorCode1_txt).Titled("FirstErrTxt");

}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}).Empty("Did not find anything").Css("table-hover")


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('[data-name="VWSC_rt_job"]').mvcgrid({
            rowClicked: function (row, data, e) {
                //if row already has this close close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                $("#placeholderPartial").load("@Url.Action("_jobdetails")", { id: data["id"]);
            }
        });

        //if only one row open automatic 
        if ($('[data-name="VWSC_rt_job"]>table>tbody>tr').length == 1) {

            $('[data-name="VWSC_rt_job"]>table>tbody>tr:first').trigger('click');
        }
    </script>
}

