@model EqUiWebUi.Models.LogInfo

<div class="card-header bg-primary">
    <div class="card-header bg-primary">
        <h4 class="card-title">
            Details for logcode: <strong>@Model.errornum</strong> logtext: <strong>@Model.logtext.Trim()</strong>
        </h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="card-body">
        @Html.Raw(Model.logDetails)
    </div>
</div>
