@model EqUiWebUi.Models.LogInfo

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            Details for logcode: <strong>@Model.errornum</strong> logtext: <strong>@Model.logtext.Trim()</strong>
        </h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        @Html.Raw(Model.logDetails)
    </div>
</div>
