@model EqUiWebUi.Models.LogInfo
@{
    ViewBag.Title = "MoreInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--putting this in a section this only renders onces the page is loaded-->

@section partials{
    <div class="modal-content">
        @Html.Partial("_Moreinfo", Model)
    </div>

}