
<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            c_LogClassRules
        </h5>
        <div class="text-muted">
            (Create new rule)
            @Html.ActionLink("Create New", "Create")
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </div>
    </div>

    <div class="card-body">
        @Html.AjaxGrid(Url.Action("_GetLogClassRulesGrid"))
    </div>
</div>

@section scripts{
    <!--index script-->
    <script>
    //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
</script>
    }
