@model IEnumerable<EqUiWebUi.Models.c_Subgroup>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Named("c_SubgroupGrid").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.Subgroup).Titled("Subgroup");
    columns.Add(c => c.Discription).Titled("Discription");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this rule") + " | " +
                                 MyFilters.IconActionLink(Url.Action("Delete", new { id = c.id }), "fas fa-trash-alt", "", "Delete this rule")
                    ).Filterable(false);
}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 30;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}).Empty("Did not find anything").Css("table-hover")

