
@{
    ViewBag.Title = "GetEvents";
}

<h2>GetEvents (h_alarm)</h2>

@if (ViewBag.controller_id != null)
{
    <div class="badge badge-info">Filtered on controllerID: @ViewBag.controller_id</div>
}


<div data-name="rtEventGrid" class="mvc-grid"></div>

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        $('[data-name= "rtEventGrid"]').html("<i class='fa fa-spinner fa-pulse fa-4x fa-fw'></i>");
        $('[data-name= "rtEventGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_getEvents")', // Grid source url string
                data: {
                    controller_id : @ViewBag.controller_id
                },
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            reloadEnded: function () {
                EnableInterfaceEvents();
            },
            reloadFailed: function (result) {
                console.log(result);
                $('[data-name="rtEventGrid"]').html($("#Error", result.responseText).html());
            }
            });
    </script>
}