@model IQueryable<EqUiWebUi.Areas.PJV.Models.L_operation>
@{
    ViewBag.Title = "GetL_operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetL_operation (this is the operation log for PJV)</h2>

@Html.Grid(Model).Named("L_operation").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.C_timestamp).Titled("C_timestamp");
    columns.Add(c => c.code).Titled("code");
    columns.Add(c => c.rev_created).Titled("rev_created");
    columns.Add(c => c.tableName).Titled("tableName");
    columns.Add(c => c.tableRowId).Titled("tableRowId");
    columns.Add(c => c.description).Titled("description");

}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 20;
}).Empty("Did not find anything").Css("table-hover")


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}