
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of PJV</h2>

<p><a href="@Url.Action("GetChanges")" class="btn btn-danger btn-sm">GetChanges &raquo;</a></p> Lijst met al de robotpunt aanpassingen die gezien worden.
<p><a href="@Url.Action("GetL_operation")" class="btn btn-danger btn-sm">GetL_operation &raquo;</a></p> Index van L_operation log voor PJV