

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all jobs</h2>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = -1 })
</p>

@Html.Action("_List")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
