@model IEnumerable<EqUiWebUi.Areas.VASC.Models.L_operation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.controller_id != null)
{
    <div class="badge badge-info">Filtered on controllerID: @ViewBag.controller_id</div>
}

<h2>Index L_operation</h2>
<div class="mvc-grid" data-name="L_operationGrid"></div>
@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

    $('[data-name="L_operationGrid"]').html('@MyHtmlHelpers.Loading("L_operationGrid")');
    $('[data-name="L_operationGrid"]').mvcgrid({
        sourceUrl: '@Url.Action("_List", "l_operation",new { sessionName = ViewBag.sessionName })',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $('[data-name="L_operationGrids"]').html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
           EnableInterfaceEvents();
        }
    });
    </script>
}

