<h2>AddNewIusse</h2>
<h4>@Html.Raw(ViewBag.Location)</h4>
<h4>@Html.Raw(ViewBag.Title)</h4>
<h4>@Html.Raw(ViewBag.RefUrl)</h4> 
<h4>@Html.Raw(ViewBag.Exeption)</h4> 
<input type="button" value="Insert something" onclick="createListItem();">

