
@{
    ViewBag.Title = "Maximo";
}
<div class="panel panel-default">
    <h4>Maximo</h4>
    <div class="panel-body">
        <p>
            <a href="~/Maximo_ui/Workorder/Index" class="btn btn-primary btn-sm">Workorder &raquo;</a>
            Workorder
        </p>

        <p>
            <a href="~/Maximo_ui/WorkorderDetails/Index" class="btn btn-primary btn-sm">WorkorderDetails &raquo;</a>
            WorkorderDetails
        </p>

    </div>
</div>
