
@{
    ViewBag.Title = "Maximo";
}

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Maximo
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <div class="card-body">
        <p>
            <a href="~/Maximo_ui/Workorder/Index" class="btn btn-primary btn-sm">Workorder &raquo;</a>
            Workorder
        </p>

        <p>
            <a href="~/Maximo_ui/WorkorderDetails/Index" class="btn btn-primary btn-sm">WorkorderDetails &raquo;</a>
            WorkorderDetails
        </p>

    </div>
</div>
