@model IEnumerable<EqUiWebUi.Areas.Alert.Models.c_CPT600>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index of c_CPT600</h2>
    <div class="alert alert-info">
        <h4>
            <strong>Records configured here must also be defined in CPT600</strong>
        </h4>

        <div class="text-muted">
            if an alert is matched with the locationtree and Assetroot of the CPT600 profile the sms will be send.
        </div>
        <div class="alert alert-warning">CPT_600 is a GHENT ONLY it system. global SMS system needs to be inplemented.</div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Named("c_CPT600Grid").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.Discription).Titled("Discription");
    columns.Add(c => c.System).Titled("System");
    columns.Add(c => c.LocationTree).Titled("LocationTree");
    columns.Add(c => c.AssetRoot).Titled("AssetRoot");

    //add edit button
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit") + "|" +
                 MyFilters.IconActionLink(Url.Action("Delete", new { id = c.id }), "fa fa-trash", "", "Delete") + "|" +
                 MyFilters.IconActionLink(Url.Action("TestSMS", new { system = c.System }), "fas fa-phone-square", "", "TestSMS",classes:"JQresultTriggerBtn")
                    ).Filterable(false);

}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 17;
}).Empty("Did not find anything").Css("table-hover"))


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}