
@model IQueryable<EqUiWebUi.Areas.Welding.Models.BosProgramAvailable>
@{
    ViewBag.Title = "BosProgramAvailable";
}


<h2>BosProgramAvailable</h2>

@Html.Grid(Model).Named("BosProgramAvailable").Build(columns =>
{
    columns.Add(c => c.Name).Titled("TimerName").InitialSort(GridSortOrder.Asc); ;

    columns.Add(c => c.bosprogram).Titled("AvailableProgram");




}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 30;

}
    ).Sortable().Css("table-hover");

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}