
@model IQueryable<EqUiWebUi.Areas.Welding.Models.DoubleSpotCheck>
@{
    ViewBag.Title = "DoubleSpotCheck";
}


<h2>DoubleSpotCheck</h2>

@Html.Grid(Model).Named("DoubleSpotCheck").Build(columns =>
{
    columns.Add(c => c.Name).Titled("TimerName").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.SpotName).Titled("spotName");
    columns.Add(c => c.weldProgNo).Titled("ProgramNbr");
    columns.Add(c => "double spot in weldtimer!!").Titled("text");



}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;

}
    ).Sortable().Css("table-hover").RowCss(model => model.Name != null ? "ani_PulseBlueRepeat" : "");

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}

