
@model IQueryable<EqUiWebUi.Areas.Welding.Models.dressrequired>
@{
    ViewBag.Title = "dressrequired";
}


<h2>DoubleSpotCheck</h2>

@Html.Grid(Model).Named("dressrequired").Build(columns =>
{
    columns.Add(c => c.Name).Titled("TimerName");
    columns.Add(c => c.DateTime).Titled("Datetime").Formatted("{0:dd-MM-yyyy HH:mm:ss}"); 
    columns.Add(c => c.ErrorText).Titled("ErrorText");



}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String>
    { { 0, "All" } };
    //{ 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}
    ).Sortable();

@section scripts{
    <script>
            //full with screen
            $("#allcontent").removeClass("body-content");
            $("#allcontent").removeClass("container");
    </script>
}
