@model IQueryable<EqUiWebUi.Areas.VASC.Models.rt_job>

@{
    ViewBag.Title = "getBreakdowns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index getBreakdowns</h2>

@Html.Grid(Model).Named("rt_job").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Desc).Css("hidden");
    columns.Add(c => c.c_controller.controller_name).Titled("controller_name");
    columns.Add(c => c.ts_breakDownStart).Titled("ts_breakdownStart");
    columns.Add(c => (c.ts_breakDownAck - c.ts_breakDownStart)).Titled("AckTime");
    columns.Add(c => (c.ts_breakDownEnd - c.ts_breakDownStart)).Titled("StopTime");
    columns.Add(c => c.breakDownCount).Titled("Count");
    columns.Add(c => c.rt_job_breakdown.FirstOrDefault().h_alarm.L_error._Logtext).Titled("Logtext");
    columns.Add(c => c.rt_job_breakdown.FirstOrDefault().phase1).Titled("phase1");
    columns.Add(c => c)
    .Titled("")
    .Encoded(false)
    .RenderedAs(c => @Html.ActionLink("JobDetails", "rtJob", "Breakdown", new { area = "VASC", jobID = c.id }, new { @class = "btn btn-primary btn-sm" })
    ).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 20;
}).Empty("Did not find anything").Css("table-hover")


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}