<div id="main_area">
    <!-- Slider -->
    <div class="row">
        <div class="col-sm-3" id="slider-thumbs">
            <!-- Bottom switcher of slider -->
            <ul class="hide-bullets">
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-0">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieP1/Framing.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-1">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__01_UnderBody_1_Frontstructure_331000.PD_.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-2">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__01_UnderBody_1_Frontfloor_334000.Pd_.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-3">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__03_UnderBody_3_Rear_Floor_336000.Pd_.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-4">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__02_UnderBody_2_Marriage_338000.Pd_.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-5">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__02_UnderBody_2_WeldBolt_339000.Pd_.jpg">
                    </a>
                </li>
                <li class="col-sm-12">
                    <a class="thumbnail" id="carousel-selector-6">
                        <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__04_Conveyors_337000.Pd_.jpg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="col-sm-12" id="carousel-bounding-box">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieP1/Framing.jpg" />
                                </div>
                                <div class="item" data-slide-number="1">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__01_UnderBody_1_Frontstructure_331000.PD_.jpg" />
                                </div>
                                <div class="item" data-slide-number="2">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__01_UnderBody_1_Frontfloor_334000.Pd_.jpg">
                                </div>
                                <div class="item" data-slide-number="3">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__03_UnderBody_3_Rear_Floor_336000.Pd_.jpg">
                                </div>
                                <div class="item" data-slide-number="4">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__02_UnderBody_2_Marriage_338000.Pd_.jpg">
                                </div>
                                <div class="item" data-slide-number="5">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__02_UnderBody_2_WeldBolt_339000.Pd_.jpg">
                                </div>
                                <div class="item" data-slide-number="6">
                                    <img src="http://webapps.gen.volvocars.net/applications/eng/equipment/SuperVisieCma/VCG_CMA40_GA3SUPERVNCW01__04_Conveyors_337000.Pd_.jpg">
                                </div>

                            </div>
                            <!-- Carousel nav -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Slider-->
    </div>
</div>

<!--carousel script-->
<script>
    jQuery(document).ready(function ($) {

        //auto rotate pictures
     //   $('#myCarousel').carousel({ interval: false });
        $('#myCarousel').carousel({ interval: 10000 });

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            try {
                var id = /-(\d+)$/.exec(id_selector)[1];
                console.log(id_selector, id);
                jQuery('#myCarousel').carousel(parseInt(id));
            } catch (e) {
                console.log('Regex failed!', e);
            }
        });

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    });
</script>


<!--carousel style -->
<style>
    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    .thumbnail {
        padding: 0;
    }

    #slider-thumbs {
        height: 865px;
        width: 350px;
        overflow-y: scroll;
        white-space: nowrap;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none
    }


</style>