
@{
    ViewBag.Title = "ControlPlan";
}

<div class="card">
    <div class="card-header">
        <h2>ControlPlan: @ViewBag.PlanName Id: @ViewBag.PlanId </h2>
        <h6>Active picture id: <span class="badge badge-info" id="lbl_ActivePictureId"></span> </h6>
    </div>
    <div class="card-body">
        <div id="ControlPlanPicturePartial">
            <div class="alert alert-warning">Click "Start Plan" to load first picture</div> 
        </div>
    </div>
    <div class="card-footer">
        <div class="btn btn-primary" id="btn_nextPicture">Start Plan</div>
    </div>
</div>

<script type="text/jscript">
    //global vars
    var PictureList = @Html.Raw(Json.Encode(ViewBag.PictureList));
    var ActivePictureId = PictureList[0];
    $("#lbl_ActivePictureId").html(ActivePictureId);

    $("#btn_nextPicture").click(function () {
        var index = PictureList.indexOf(ActivePictureId);
        ActivePictureId = PictureList[PictureList.indexOf(ActivePictureId) + 1];
        $("#lbl_ActivePictureId").html(ActivePictureId);
        //load control plan picute partial
        $("#ControlPlanPicturePartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $("#ControlPlanPicturePartial").load("@Url.Action("_GetControlPlanPicture")?Id=" + ActivePictureId);
        //change btn if last picture
        if (PictureList[PictureList.indexOf(ActivePictureId) + 1] == PictureList[0]) {
            $("#btn_nextPicture").html("Restart Plan");
        } else {
            $("#btn_nextPicture").html("Next picture");
        } 
    });


</script>
