<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebNavigator_Gadget_Watcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WebNavigator_Gadget_Watcher.Properties.Settings>
            <setting name="xmlConfig" serializeAs="String">
                <value>c:\Test\test.xml</value>
            </setting>
            <setting name="WatchConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportedFile" serializeAs="String">
                <value>c:\Test\File.jpg</value>
            </setting>
            <setting name="netExportLocation" serializeAs="String">
                <value>\\gensvw1013\equipmentshare\Tia</value>
            </setting>
            <setting name="netExportUser" serializeAs="String">
                <value>System123 </value>
            </setting>
            <setting name="netExportPass" serializeAs="String">
                <value>appplcbck</value>
            </setting>
        </WebNavigator_Gadget_Watcher.Properties.Settings>
    </userSettings>
</configuration>