@model IQueryable<EqUiWebUi.Areas.VASC.Models.rt_active_info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>active controller state</h2>

@Html.Grid(Model).Named("rt_active_info").Build(columns =>
{
    columns.Add(c => c.c_controller_id).Titled("c_controller_id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.c_controller._Enable_bit).Titled("enable_bit");
    columns.Add(c => c.c_controller.controller_name).Titled("controller_name");
    columns.Add(c => c.controller_state).Titled("controller_state");
    columns.Add(c => c._VASCState).Titled("vasc_state");
}).Filterable(true).Sortable(true).Empty("Did not find anything").Css("table-hover")
