@model List<EqUiWebUi.Areas.VASC.Models.rt_active_info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>active controller state</h2>
<div class="badge badge-info">
    COUNT: @Model.Count()
</div>
@Html.Grid(Model).Named("rt_active_info").Build(columns =>
{
    columns.Add(c => c.c_controller_id).Titled("c_controller_id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.c_controller._Enable_bit).Titled("enable_bit");
    columns.Add(c => c.vasc_session).Titled("vasc_session");
    columns.Add(c => c.c_controller.controller_name).Titled("controller_name").Css("tablesaw-priority-persist");
    columns.Add(c => c.controller_state).Titled("controller_state").Css("tablesaw-priority-0");
    columns.Add(c => c._VASCState).Titled("vasc_state");
    columns.Add(c => c.C_timestamp).Titled("_timestamp").Css("tablesaw-priority-6");
    //rt_active_info optional 
    columns.Add(c => c.h_alarm_id).Titled("h_alarm_id").Css("tablesaw-priority-0");
    columns.Add(c => c.rt_alarm_id).Titled("rt_alarm_id").Css("tablesaw-priority-0");
    columns.Add(c => c.rt_job_id).Titled("rt_job_id").Css("tablesaw-priority-6");
    columns.Add(c => c.program_number).Titled("program_number").Css("tablesaw-priority-0");
    columns.Add(c => c.body_number).Titled("body_number").Css("tablesaw-priority-0");
    columns.Add(c => c.application_error).Titled("application_error").Css("tablesaw-priority-0");
    columns.Add(c => c.operating_mode).Titled("operating_mode").Css("tablesaw-priority-0");
    columns.Add(c => c.execution_status).Titled("execution_status").Css("tablesaw-priority-0");
    columns.Add(c => c.master_state).Titled("master_state").Css("tablesaw-priority-0");
    columns.Add(c => c.at_home).Titled("at_home");
    columns.Add(c => c.task_execution_status).Titled("task_execution_status").Css("tablesaw-priority-0");
    columns.Add(c => c.ts_breakDownAck).Titled("ts_breakDownAck").Css("tablesaw-priority-0");
    columns.Add(c => c.ts_breakDownStart).Titled("ts_breakDownStart").Css("tablesaw-priority-0");
    columns.Add(c => c.part_data_count).Titled("part_data_count").Css("tablesaw-priority-0");
    //rt_controller optional  
    columns.Add(c => c.c_controller.rt_controller.First().Availability).Titled("Availability").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().BaseDirectory).Titled("BaseDirectory").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().ControllerName).Titled("ControllerName").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().HostName).Titled("HostName").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().Controller_Id).Titled("Controller_Id").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().IPaddress).Titled("IPaddress").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().IsVirtual).Titled("IsVirtual").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().MacAddress).Titled("MacAddress").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().Name).Titled("Name").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().RunLevel).Titled("RunLevel").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().SystemId).Titled("SystemId").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().SystemName).Titled("SystemName").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().Version).Titled("Version").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().VersionName).Titled("VersionName").Css("tablesaw-priority-0");
    columns.Add(c => c.c_controller.rt_controller.First().WebServicesPort).Titled("WebServicesPort").Css("tablesaw-priority-0");

    columns.Add(c => c)
            .Titled("Tools")
            .Encoded(false)
            .RenderedAs(c => MyHtmlHelpers.IconActionLink(Url.Action("Index", "c_controller_class", new { controller_id = c.c_controller_id },null), "fas fa-pencil-alt", "", "Goto controller_class for this controller").ToHtmlString() +
            MyHtmlHelpers.IconActionLink(Url.Action("Index", "l_operation", new { controller_id = c.c_controller_id, sessionName = c.vasc_session }, null), "fas fa-file", "", "Open operation log", OpenNewWindow:true).ToHtmlString() +
            MyHtmlHelpers.IconActionLink(Url.Action("GetJobs", "Breakdown", new { controller_id = c.c_controller_id }), "fas fa-vial", "", "Open get jobs", OpenNewWindow: true).ToHtmlString() +
            MyHtmlHelpers.IconActionLink(Url.Action("GetJobs", "Breakdown", new { controller_id = c.c_controller_id, hasBreakdowns = true }), "fas fa-vial text-warning", "", "Open breakdowns", OpenNewWindow: true).ToHtmlString() +
            MyHtmlHelpers.IconActionLink(Url.Action("Get_h_alarm", "Eventlog", new { controller_id = c.c_controller_id }), "fas fa-vial", "", "Open controller h_alarm", OpenNewWindow: true).ToHtmlString() +
            MyHtmlHelpers.IconActionLink(Url.Action("Get_rt_alarm", "Eventlog", new { controller_id = c.c_controller_id }), "fas fa-vial", "", "Open controller rt_alarm (junk)", OpenNewWindow: true).ToHtmlString() 
            ).Filterable(false);
}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}).Empty("Did not find anything").Css("table-hover tablesaw-on")

<script>
     //full with screen
    $("#allcontent").removeClass("body-content");
    $("#allcontent").removeClass("container");
</script>
