

<p>
    @Html.ActionLink("Click Here to insert a new spatter Issue", "Create")
</p>
@model IEnumerable<EqUiWebUi.Areas.Welding.Models.h_production_issues>

@{
    ViewBag.Title = "Index";
}

<h2>Reported Spatter Issues</h2>

@Html.Grid(Model).Named("h_production_issues").Build(columns =>
{
    //columns.Add(c => c.id).Titled("id");
    columns.Add(c => c.rt_spottable.SpotName).Titled("spotname").Css("bolded");
    columns.Add(c => c.startdate).Titled("startdate").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.enddate).Titled("enddate");
    columns.Add(c => c.c_reporter.reporterName).Titled("ReporterName");
    columns.Add(c => c.c_production_issue.issue).Titled("Issue");
    columns.Add(c => c.quantity).Titled("quantity");
    columns.Add(c => c.lastBodyNbr).Titled("lastBodyNbr");
    columns.Add(c => c.remarks).Titled("remarks");


    //tools
    columns.Add(c => c)
                        .Titled("")
                        .Encoded(false)
                        .RenderedAs(c =>

                        MyHtmlHelpers.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this reported issue").ToHtmlString() +
                        MyHtmlHelpers.IconActionLink(Url.Action("Delete", new { id = c.id }), "fas fa-trash-alt text-danger", "", "Delete this issue").ToHtmlString()


                        ).Filterable(false);



}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 5;

}
        ).Sortable().Css("table-hover")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

}