<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExcelAddInEquipmentDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ExcelAddInEquipmentDatabase.Properties.Settings.GADATAConnectionString"
            connectionString="Data Source=sqla001.gen.volvocars.net;Initial Catalog=GADATA;Persist Security Info=True;User ID=EqUiAdmin;Password=EqUiAdmin"
            providerName="System.Data.SqlClient" />
        <add name="ExcelAddInEquipmentDatabase.Properties.Settings.GadataConnRW"
            connectionString="Data Source=sqla001.gen.volvocars.net;Persist Security Info=True;User ID=EqUiAdmin;Password=EqUiAdmin" />
    </connectionStrings>
    <userSettings>
        <ExcelAddInEquipmentDatabase.Properties.Settings>
            <setting name="activeuser" serializeAs="String">
                <value>"sdebeul"</value>
            </setting>
            <setting name="userlevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="usergroup" serializeAs="String">
                <value>"AAOSR"</value>
            </setting>
        </ExcelAddInEquipmentDatabase.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>