<?xml version="1.0" encoding="utf-8"?>

<!--\\Chasvw1203.cha.volvocars.net\chasvw1203_e\IIS\EqUiWebUi\VSTO\ -->
<!--https:chasvw1203.cha.volvocars.net/VSTO/ -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--connection strings transforms-->
  <connectionStrings>
    <add name="EQUIConnectionString"
     connectionString="Data Source=CHASVW1203.cha.volvocars.net\DBSQLTIPWEP;Initial Catalog=CHADATA;Persist Security Info=True;User ID=EqUiAdmin;Password=EqUiAdmin"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="EquiEntities"
    connectionString="metadata=res://*/EquiModel.csdl|res://*/EquiModel.ssdl|res://*/EquiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHASVW1203.cha.volvocars.net\DBSQLTIPWEP;Initial Catalog=CHADATA;Persist Security Info=True;User ID=EqUi;Password=EqUi;&quot;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <!--app settings-->
  <applicationSettings>
    <ExcelAddInEquipmentDatabase.Properties.Settings>
      <setting name="SiteName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">VCCH</value>
      </setting>
      <setting name="EquiBasepath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">https:\\chasvw1203.cha.volvocars.net</value>
      </setting>
      <setting name="TemplateBasepath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">\\gnlsnm0101.gen.volvocars.net\PROJ\6308-SHR-VCC22700\VSTO\VCCH</value>
      </setting>
    </ExcelAddInEquipmentDatabase.Properties.Settings>
  </applicationSettings>

  <!--log for net-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="EquiVstoRelVCH.log" xdt:Transform="Replace"/>
    </appender>
  </log4net>

</configuration>