/*for colapsable pannel*/
.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*max with for popovers*/
.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/*used in grid row styleing*/

/*Status styles*/

.TableStatusWGKTESTTEST:disabled { /*like this you can make a style inactive! */
    background-color: #d606ff;
}


.TableStatusWGK {
    background-color: #d606ff;
}

.TableStatusCOMP {
    background-color: #49d112;
}

/*logtype*/
.TableLogtypeSHIFTBOOK {
    background-color: #d6d613;
}

.TableLogtypeWARNING {
    background-color: #127bf1;
}

.TableLogtypeLIVE {
    background-color: #f21a1a;
}

.TableLogtypeBREAKDOWN {
    background-color: #f2af13;
}

.TableLogtypeTIMELINE {
    background-color: #16dd76;
}