/*for colapsable pannel*/
.clickable {
    cursor: pointer;
}

/*for grid filter popups to make them on top of modals.*/
.mvc-grid-popup {
    z-index: 2000;
}

/*max with for popovers*/
.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/*used in grid row styleing*/

/*Status styles*/
.TableStatusWGK {
    background-color: #d606ff;
}

.TableStatusCOMP {
    background-color: #49d112;
}

/*logtype*/
.TableLogtypeSHIFTBOOK {
    background-color: #d6d613;
}

.TableLogtypeWARNING {
    background-color: #127bf1;
}

.TableLogtypeLIVE {
    background-color: #f21a1a;
}

.TableLogtypeBREAKDOWN {
    background-color: #f2af13;
}

.TableLogtypeSTO {
    background-color: #f2af13
}
 .TableLogtypeTIMELINE {
    background-color: #16dd76;
}

.TableLogtypeAlert {
    background-color: rgba(243, 124, 9, 0.87);
}

.TableLogtypeSLOWSpeed {
    background-color: #d851ff; /*set the background color in here so if the browser does not support animation we still have style*/
    -webkit-animation: blinkPink 1s 0.5s infinite alternate linear; /*chrome*/
    animation: blinkPink 1s 0.5s infinite alternate linear; /*IE 10+ (not working for me)*/
}

.TableLogtypeBarrelLOW {
    background-color: #49d112;
    -webkit-animation: PulseGreen 5s infinite alternate linear;
}

@-webkit-keyframes blinkPink {
    0% {
        background-color: #d851ff;
    }

    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes PulseGreen {
    0% {
        background-color: transparent;
    }

    45% {
        background-color: #49d112;
    }

    55% {
        background-color: #fefefe;
    }

    100% {
        background-color: #49d112;
    }
}

/*for tipwear*/
.TableTipwearValueHigh {
    background-color: #f21a1a;
    -webkit-animation: PulseRed 3s infinite;
}

@-webkit-keyframes PulseRed {
    0% {
        background-color: #f21a1a;
    }

    100% {
        background-color: transparent;
    }
}

.PulseBlueOnce {
    -webkit-animation: PulseBlue 3s;
}

@-webkit-keyframes PulseBlue {
    0% {
        background-color: #127bf1;
    }

    100% {
        background-color: transparent;
    }
}

.PulseBlueRepeat {
    -webkit-animation: PulseBlue 2s infinite;
}

@-webkit-keyframes PulseBlue {
    0% {
        background-color: #1f97f2;
    }

    100% {
        background-color: transparent;
    }
}

.PulseGreenOnce {
    -webkit-animation: PulseGreen 3s;
}

@-webkit-keyframes PulseGreen {
    0% {
        background-color: #49d112;
    }

    100% {
        background-color: transparent;
    }
}

.PulseRedRepeat {
    background-color: #f21a1a;
    -webkit-animation: PulseBlue 3s infinite;
}

@-webkit-keyframes PulseRed {
    0% {
        background-color: #f21a1a;
    }

    100% {
        background-color: transparent;
    }
}

.TableTipwearValueDanger {
    background-color: #f60c0c;
    -webkit-animation: PulseRedFast 0.6s infinite;
}

@-webkit-keyframes PulseRedFast {
    0% {
        background-color: #f60c0c;
    }

    100% {
        background-color: transparent;
    }
}