/*static colors*/
.TableLogtypeDarkYellow {
    background-color: #f2af13;
}

.TableLogtypeLightGreen {
    background-color: #16dd76;
}

.TableLogtypeLightBlue {
    background-color: #b0f1cd;
}

.TableLogtypeOrange {
    background-color: rgba(243, 124, 9, 0.87);
}

.TableLogtypeGreen {
    background-color: #49d112;
}

.TableLogtypeRed {
    background-color: #f21a1a;
}

.TableLogtypeYellow {
    background-color: #d6d613;
}

.TableStatusPurple {
    background-color: #d606ff;
}

/*animations (Alerts)*/
.ani_BlinkPink {
    background-color: #d851ff; /*set the background color in here so if the browser does not support animation we still have style*/
    -webkit-animation: blinkPink 1s 0.5s infinite alternate linear; /*chrome*/
}

@-webkit-keyframes blinkPink {
    0% {
        background-color: #d851ff;
    }

    100% {
        background-color: transparent;
    }
}

/**/

.ani_PulseGreen {
    background-color: #49d112;
    -webkit-animation: PulseGreen 5s infinite alternate linear;
}

@-webkit-keyframes PulseGreen {
    0% {
        background-color: transparent;
    }

    45% {
        background-color: #49d112;
    }

    55% {
        background-color: #fefefe;
    }

    100% {
        background-color: #49d112;
    }
}

.ani_PulseGreenOnce {
    -webkit-animation: PulseGreen 3s;
}

/**/

.ani_PulseRed {
    background-color: #f21a1a;
    -webkit-animation: PulseRed 3s infinite;
}

@-webkit-keyframes PulseRed {
    0% {
        background-color: #f21a1a;
    }

    100% {
        background-color: transparent;
    }
}

/**/

.ani_PulseRedFast {
    background-color: #f60c0c;
    -webkit-animation: PulseRedFast 0.6s infinite;
}

@-webkit-keyframes PulseRedFast {
    0% {
        background-color: #f60c0c;
    }

    100% {
        background-color: transparent;
    }
}

/**/

.ani_PulseRedRepeat {
    background-color: #f21a1a;
    -webkit-animation: PulseRed 3s infinite;
}

@-webkit-keyframes PulseRed {
    0% {
        background-color: #f21a1a;
    }

    100% {
        background-color: transparent;
    }
}

/**/

.ani_PulseBlueOnce {
    -webkit-animation: PulseBlue 3s;
}

@-webkit-keyframes PulseBlue {
    0% {
        background-color: #127bf1;
    }

    100% {
        background-color: transparent;
    }
}

/**/

.ani_PulseBlueRepeat {
    -webkit-animation: PulseBlue 2s infinite;
}

@-webkit-keyframes PulseBlue {
    0% {
        background-color: #1f97f2;
    }

    100% {
        background-color: transparent;
    }
}

/**/
