@{
    ViewBag.Title = "Supervision";
}
<div class="card">
    <div class="card-header bg-dark text-white">
        <h4>
            Supervision
            <a class="fas fa-info-circle text-white clickable MyPopovers" data-container="body" data-toggle="popover" data-placement="bottom" title="Show Legend" href="@Url.Action("_legend")"></a>
        </h4>
    </div>
    <div id="SupervisieGridSpincontainer" style="position:relative">
        <div data-name="SupervisieGrid" class="mvc-grid"></div>
    </div>
</div>


@*render popuover modal*@
<div id="MyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white'></i><span class='sr-only'>Loading...</span></div>
</div>

@section scripts{
    <!--script for supervisiegrid-->
    <script type="text/javascript">
    //render grid and subscrible to row clicked events
        $('[data-name="SupervisieGrid"]').mvcgrid({
        sourceUrl: '@Url.Action("_supervisieGrid")', // Grid source url string
        data: {
            ApplyResponsibleArea: @ViewBag.ApplyResponsibleArea.ToString().ToLower()
        },
        requestType: 'get', // Ajax grid request type
        reload: true, // Grid reload indicator
        rowClicked: function (row, data, e) {
                //launch modal
                $('#MyModal').removeData('bs.modal');
                $('#MyModal').modal({ show: true });
                $('#MyModal').load('@Url.Action("_Moreinfo", "Table")', {
                    location: data["location"],
                    errornum: data["logcode"],
                    refid: data["ref-id"],
                    logtype: data["logtype"],
                    logtext: data["logtext"]
                }, function (result) { });
        },
        reloadFailed: function (result) {
            console.log(result);
            $('[data-name="SupervisieGrid"]').html($("#Error", result.responseText).html());
        }
    });

        //on modal close
        $('#MyModal').on('hidden.bs.modal', function (e) {
            $('#MyModal').html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white' ></i ><span class='sr-only'>Loading...</span></div >");
        });

        //enable tooltips
        $('[data-toggle="popover"]').tooltip();

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

    <!--Handle signal R reload-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $.connection.hub.start()
            .done(function () {
                console.log("Supervisie SignalR connected");
                $.connection.dataRefreshHub.server.joinGroup("Supervisie");
            })
            .fail(function () { console.log("Supervisie SignalR connect ERROR") });

        //trigger full window reload
        $.connection.dataRefreshHub.client.newData = function () {
            console.log("Supervisie reload");
            $('[data-name="SupervisieGrid"]').mvcgrid({
                reload: true
            });
        }
    </script>

}