@model IQueryable<EqUiWebUi.Areas.Welding.Models.TimerBreakdowns_WMActions>
@{
    ViewBag.Title = "TimerBreakdowns_WMActions";
}
<h2>TimerFaults with downtime >= 5 min last month</h2>
@Html.Grid(Model).Named("TimerBreakdowns_WMActions").Build(columns =>
{


    columns.Add(c => c.dateTime).Titled("datetime");
    columns.Add(c => c.timerName).Titled("TimerName");
    columns.Add(c => c.fault).Titled("fault").Formatted("{0:dd-MM-yyyy HH:mm:ss}").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.timerfault).Titled("Timerfault");

    columns.Add(c => c.Start).Titled("start").Formatted("{0:dd-MM-yyyy HH:mm:ss}").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.end).Titled("end");
    columns.Add(c => c.downtime).Titled("downtime");
    columns.Add(c => c.interventionTime).Titled("InterventionTime");
    columns.Add(c => c.parameter).Titled("parameter");
    columns.Add(c => c.oldValue).Titled("oldvalue");

    columns.Add(c => c.newValue).Titled("newValue");
    columns.Add(c => c.username).Titled("username");


}).Filterable(
).Sortable().RowCss(c => c.parameter != null ? "ani_PulseGreen" : "")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
        name
    </script>
}
<style>
    .Green {
        background-color:rgba(76, 255, 0, 0.65)
    }
</style>
