
@model IQueryable<EqUiWebUi.Areas.Welding.Models.TimerIpAdresses>
@{
    ViewBag.Title = "TimerIpAdresses";
}


<h2>Search an Timer IP adress</h2>

@Html.Grid(Model).Named("TimerIpAdresses").Build(columns =>
{
    columns.Add(c => c.TimerName).Titled("TimerName").Css("bolded");
    columns.Add(c => c.timerIpaddress).Titled("TimerIPadres");
  



}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String>
    { { 0, "All" } };
    //{ 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
    }
    ).Sortable();

@section scripts{
    <script>
            //full with screen
            $("#allcontent").removeClass("body-content");
            $("#allcontent").removeClass("container");
    </script>
}

