@model IQueryable<EqUiWebUi.Areas.Welding.Models.WeldfaultCount>

@{
    ViewBag.Title = "index";
}

<h2>Meeste weldFaults TOP 10 laatste 24 H</h2>


@Html.Grid(Model).Named("_WeldFaultprotocolTOP10").Build(columns =>
{

    columns.Add(c => c.location).Titled("Location");
    columns.Add(c => c.NPT).Titled("NPT");
    columns.Add(c => c.Timer).Titled("Timer");

    // columns.Add(c => "<p id=" + c.id + " class='editTestCollum2'>" + c.Timer).Encoded(false).Titled("Timertest");
    columns.Add(c => c.countofTimerFaults).Titled("countofTimerFaults").InitialSort(GridSortOrder.Desc);
    columns.Add(c => "<p id=" + c.id + " class='editTestCollum1'>" + c.WMComment).Encoded(false).Titled("WMComment");



 columns.Add(c => c)
               .Titled("")
               .Encoded(false)
              .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this") 

).Filterable(true);

   
}).Css("table-hover").RowCss(model => model.countofTimerFaults >= 10 ? "ani_PulseRed" : "")

@section scripts{
    <script src="~/node_modules/jquery-jeditable/dist/jquery.jeditable.min.js"></script>

    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('[data-name="WeldfaultCount"]').mvcgrid({
            rowClicked: function (row, data, e) {
                return;

                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                var url = "@Url.Action("_WeldFaultprotocolTOP10")?id=" + data["id"];
                $("#placeholderPartial").load(url);
            }
        });

        //test with Jeditable for in place table editable
        //https://github.com/NicolasCARPi/jquery_jeditable/
        //Sample code
        https://jeditable.elabftw.net/


        //simple sample basic
        $('.editTestCollum1').editable('@Url.Action("UpdateLabel1")');

        //full sample
       // $('.editTestCollum2').editable('//', {
        //    data   : '{"E":"Letter E","F":"Letter F","G":"Letter G", "selected":"F"}',
        //    type   : 'select',
        //    submit : 'OK'
       // });
    </script>
}

