
@model IQueryable<EqUiWebUi.Areas.Welding.Models.GreenFieldLastMeasurement>
@{
    ViewBag.Title = "GreenfieldLastMeasurement";
}
<h2>BrownfieldLastMeasurements</h2>

@Html.Grid(Model).Named("GreenfieldLastMeasurement").Build(columns =>
{
    columns.Add(c => c.NPT).Titled("NPT");
    columns.Add(c => c.Name).Titled("Timer");
    columns.Add(c => c.Number).Titled("spot");
    columns.Add(c => c.Program).Titled("program");
    columns.Add(c => c.Date).Titled("LastWeldDate").Formatted("{0:dd-MM-yyyy HH:mm:ss}");
    columns.Add(c => c.NbrSplash).Titled("nbrSpatters").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.NbrWeld).Titled("nbrWelds");
    columns.Add(c => c.AvgEnergy).Titled("AvgEnergy");
    columns.Add(c => c.AvgPSF).Titled("AvgPSF");
    columns.Add(c => c.AvgUIP).Titled("AvgUIP");
    columns.Add(c => c.AvgWeldTIme).Titled("AvgWeldTIme");

}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String>
    { { 0, "All" } };
    //{ 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
    }
    ).Sortable();

@section scripts{
    <script>
            //full with screen
            $("#allcontent").removeClass("body-content");
            $("#allcontent").removeClass("container");
    </script>
}
