
@model IQueryable<EqUiWebUi.Areas.Welding.Models.TDTResults>
@{
    ViewBag.Title = "TDTResults";
}


<h2>TearDownResults</h2>

@Html.Grid(Model).Named("TDTResults").Build(columns =>

{

    // temperary old working data => must renewal this to new tdt schema
    columns.Add(c => c.Date).Titled("TeardownDate").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.Model).Titled("Model");
    columns.Add(c => c.Number).Titled("SpoNumber");
    columns.Add(c => c.NuggetDemand).Titled("NuggetDemand");
    columns.Add(c => c.TearDownNugget).Titled("TearDownNugget");
    columns.Add(c => c.TDTResult).Titled("TDTResult");




}).Css("css-classes").AppendCss("table-hover").Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;
    pager.PageSizes = new Dictionary<Int32, String>
    { { 0, "All" } ,
    { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
    }
    ).Sortable();

    @section scripts{
        <script>
            //full with screen
            $("#allcontent").removeClass("body-content");
            $("#allcontent").removeClass("container");
       
        
           
        </script>
            
               
    
                 

      
    }
