
@{
    ViewBag.Title = "Index TeardownTeam";
}

<div class="jumbotron">
    <center><h1>WELCOME bij het TearDown Team</h1></center>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            New Teardown     ---UNDER CONSTRUCTION---
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TearDownTeam/_StartTeardown", "far fa-play-circle", "Start New Teardown ", helperText: " ")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            running Teardown ---UNDER CONSTRUCTION---
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/ R  rt_AutoWorkFlowULPlans", "fas fa-hourglass-half", "Update a running Teardown", helperText: "")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            TeardownResults
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TeardownTeam/_TDTResults", "fas fa-vials", "TeardownResults", helperText: "")

</div>
<p></p>

@*This card is default collapsed see fa-rotate-180 and display:none*@
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            Teardown Config
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <p> </p>
    <p>
        <a href="~/Welding/teardownTeam/Index" class="btn btn-primary btn-sm">add a teardownpicture</a>

    </p>


