
@{
    ViewBag.Title = "Index TeardownTeam";
}

<div class="jumbotron">
    <h1>WELCOME bij het TearDown Team</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            New Teardown     ---UNDER CONSTRUCTION---
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TearDownTeam/_StartTeardown", "far fa-play-circle", "Start New Teardown ", helperText: " ")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            running Teardown ---UNDER CONSTRUCTION---
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/ R  rt_AutoWorkFlowULPlans", "fas fa-hourglass-half", "Update a running Teardown", helperText: "")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            TeardownResults
            <span class="clickable float-right"><i class="far fa-play-circle"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TeardownTeam/_TDTResults", "fas fa-vials", "TeardownResults", helperText: "")

</div>
<p></p>

