
@{
    ViewBag.Title = "Index TeardownTeam";
}

<div class="jumbotron">
    <h1>WELCOME bij het TearDown Team</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
           Start New Teardown  UNDER CONSTRUCTION
            <span class="clickable float-right"><i class="fas fa-tachometer-alt"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TearDown Team/TDTResults", "fab fa-qq", "Start New Teardown ", helperText: "omschrijving =>> Start New Teardown ")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
            Update a running Teardown  UNDER CONSTRUCTION
            <span class="clickable float-right"><i class="fas fa-tachometer-alt"></i></span>>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/Qteam/ R  rt_AutoWorkFlowULPlans", "fab fa-qq", "Update a running Teardown", helperText: "omschrijving =>> Update a running Teardown")

</div>
<p></p>

<div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-white">
            TeardownResults
            <span class="clickable float-right"><i class="fas fa-tachometer-alt"></i></span>
        </h5>
    </div>

    <p></p>

    @MyHtmlHelpers.EquiLink("/Welding/TeardownTeam/_TDTResults", "fab fa-qq", "TeardownResults", helperText: "omschrijving =>> TeardownResults")

</div>
<p></p>

