@{
    ViewBag.Title = "Maximo wo details";
}
<div class="card">
    <h4>Maximo wo details</h4>
    <div class="card-body">
        <p>
            <a href="~/Maximo_ui/WorkorderDetails/WoDetails?wonum=9709594" class="btn btn-primary btn-sm">Workoderdetails &raquo;</a>
            Workoderdetails wo =9709594 (test)
        </p>

        <p></p>

        <p>
            <a href="~/Maximo_ui/WorkorderDetails/WoParentDetails?parentwonum=10324886" class="btn btn-primary btn-sm">Workoderdetails inc Childeren &raquo;</a>
            Workoderdetails wo =10324886 (test)
        </p>
    </div>
</div>
