@{
    ViewBag.Title = "WoDetails";
}
<div class="card">
    <div class="card-header bg-dark">
        <h4 class="card-title text-white" >WoDetails @ViewBag.wonum</h4>
    </div>

    <div class="card-body">
        <div id="woDetailsPartial">more details about a workorder</div>
    </div>

</div>


<script type="text/javascript">
    @*run on doc ready *@
    $(document).ready(function () {
        $("#woDetailsPartial").html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-2x fa-fw'></i><span class='sr-only'></span>Loading....</div>");
        $("#woDetailsPartial").load("@Url.Action("_woDetails", "WorkorderDetails", new { wonum = ViewBag.wonum })",
            function (responseText, textStatus, req) {
                if (textStatus == "error") {
                    $("#placeholderPartial").html($("#Error", responseText).html());
                }
            })
        })
</script>
