@model EqUiWebUi.WebGridHelpers.DefaultModel
@{
    ViewBag.Title = "WoDetails";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>WoDetails @ViewBag.wonum</h4>
    </div>

    <div class="panel-body">
        <div id="woDetailsPartial">more details about a workorder</div>
    </div>

</div>


<script type="text/javascript">
    @*run on doc ready *@
    $(document).ready(function () {
        $("#woDetailsPartial").html("Loading.....");
        var url = "@Url.Action("_woDetails", "WorkorderDetails")?wonum=" + @ViewBag.wonum + "&RealtimeConn=" + @ViewBag.RealtimeConn.ToString().ToLower();
        $("#woDetailsPartial").load(url);
    })
</script>
