@model List<EqUiWebUi.Areas.VASC.Models.c_device_info>

@Html.Grid(Model).Named("c_device_infoGrid").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c._Enable_bit).Titled("enable_bit");
    columns.Add(c => c._Poll_Rate).Titled("Poll_Rate").Css("hidden-sm hidden-xs");
    columns.Add(c => c._Insert_update).Titled("Insert_update").Css("hidden-sm hidden-xs");
    columns.Add(c => c.name).Titled("name");
    columns.Add(c => c)
                        .Titled("")
                        .Encoded(false)
                        .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                        ).Filterable(false);
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Show", "GetDeviceInfoData", new { c_device_info_id = c.id, controller_id = ViewBag.controller_id })
                    ).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

<div class="badge">Count: @Model.Count()</div>