@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_error>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index of c_error</h2>
    <div class="alert alert-info">
        <h4>
            <strong>Alarms configured here can be ignored or redirected from the standard h_alarm system.</strong>
        </h4>

        <strong>A combination of these flags is allowed</strong>
        <p>*Insert into h_alarm</p>
        <p>*Insert into rt_alarm (junk table)</p>
        <p>*Allow this type to be used in breakdown calculation.</p>

        <div class="text-muted">
             If an alarm is NOT machted here it will be treated with a standard flagcode of 5. (insert into h_alarm and allowed to be used in breakdown)
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("ADD record", "Edit", new { id = -1 })
</p>


@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
