@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_error>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index c_error</h2>
    <div class="alert alert-info">
        <h4>
            <strong>Alarms configured here can be ignored or redirected.</strong>
        </h4>
        <p>*in the breakdown system</p>
        <p>*in the h_alarm system</p>
        <p>*Redirect to rt_alarm</p>


        <div class="text-muted">
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("ADD record", "Edit", new { id = -1 })
</p>


@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
