@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index of c_error</h2>
    <div class="alert alert-info">
        <h4>
            <strong>Alarms configured here can be ignored or redirected from the standard h_alarm system.</strong>
        </h4>

        <strong>A combination of these flags is allowed</strong>
        *Insert into h_alarm<br />
        *Insert into rt_alarm (junk table)<br />
        *Allow this type to be used in breakdown calculation.<br />

        <strong>Know that</strong>
        *setting an error_number to 0 the complete errorCategory will be matched<br />
        *for mach on error_numnber only set  operator to OR and leave Logtext empty<br />


        <div class="text-muted">
            If an alarm is NOT machted here it will be treated with a standard flagcode of 5. (insert into h_alarm and allowed to be used in breakdown)
        </div>
    </div>
</div>

<p>
    @MyHtmlHelpers.IconActionLink(Url.Action("Edit", "c_error", new { id = -1 }), "fas fa-pencil-alt", "Create", "add a rule to ignore log messages", OpenNewWindow: true)
</p>


@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
