@model IQueryable<EqUiWebUi.Areas.VASC.Models.c_controller>

@Html.Grid(Model).Named("c_controllerGrid").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c._Enable_bit).Titled("enable_bit");
    columns.Add(c => c.controller_name).Titled("controller_name");
    columns.Add(c => c.systemId).Titled("systemId");
    columns.Add(c => c.ip).Titled("ip");
    columns.Add(c => c._ControllerFlags).Titled("flags");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                    ).Filterable(false);
    columns.Add(c => c)
        .Titled("")
        .Encoded(false)
        .RenderedAs(c => @Html.ActionLink("Show", "Index", "c_controller_class", new { controller_id = c.id }, null)
        ).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

<div class="badge">Count: @Model.Count()</div>

