@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_controller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @MyHtmlHelpers.IconActionLink(Url.Action("Edit", "c_controller", new { id = -1 }), "fas fa-pencil-alt", "Create", "add a controller", OpenNewWindow: true)
</p>


<div class="card card-body">
    <div id="c_controllerGrid" class="mvc-grid"></div>
</div>

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

    $('#c_controllerGrid').html('@MyHtmlHelpers.Loading("c_controllerGrid")');
    $('#c_controllerGrid').mvcgrid({
        sourceUrl: '@Url.Action("_List")',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_controllerGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });
    </script>
}
