@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_controller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @MyHtmlHelpers.IconActionLink(Url.Action("Edit", "c_controller", new { id = -1 }), "fas fa-pencil-alt", "Create", "add a controller", OpenNewWindow: true)
</p>

@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
