@model List<EqUiWebUi.Areas.VASC.Models.c_variable>

@Html.Grid(Model).Named("c_variable").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c._Enable_bit).Titled("enable_bit");
    columns.Add(c => c.variable).Titled("variable");
    columns.Add(c => c._Poll_Rate).Titled("_Poll_Rate").Css("d-none d-lg-table-cell");
    columns.Add(c => c._Event_code).Titled("_Event_code").Css("d-none d-lg-table-cell");
    columns.Add(c => c.sql_action).Titled("_SQL_Action").Css("d-none d-lg-table-cell"); //this should be multiselect!
    columns.Add(c => c.rt_table).Titled("rt_table");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                    ).Filterable(false);
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Show", "GetVariableData", new { c_variable_id = c.id, controller_id = ViewBag.controller_id })
                ).Filterable(false);
}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

<div class="badge">Count: @Model.Count()</div>