
<div class="panel-body" id="graphSpinner" style="position:relative">
    <div id="gaphContainer">
        <canvas id='graphCanvas'></canvas>
    </div>
</div>



<script src="~/Scripts/d3/d3.js"></script>
<script src="~/Scripts/d3/Chart.bundle.js"></script>


<script>
    var Mychart;
    $(document).ready(function () {

        var jsonData = JSON.stringify({
            timestampCol: "Date Time",
            datacolls: ["Dress_Num", "Wear_Fixed", "Wear_Move"]
        });

        $.ajax({
            type: "POST",
            url: "/Chart2/getLineChartData",
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess_,
            error: OnErrorCall_
        });

        function OnSuccess_(reponse) {
            var aLabels = reponse[0];
            var aDatasets1 = reponse[1];
            var aDatasets2 = reponse[2];
            var aDatasets3 = reponse[3];


            var config = {
                type: 'bar',
                data: {
                    labels: aLabels,
                    datasets: [
                        {
                            label: "My First dataset",
                            yAxisID: 'A',
                            position: 'left',
                            backgroundColor: '#2F7CCA',
                            borderColor: '#2F7CCA',
                            fill: false,
                            data: aDatasets1
                        },
                        {
                            type: 'line',
                            label: "My Second dataset",
                            yAxisID: 'B',
                            position: 'left',
                            backgroundColor: '#2F7CCA',
                            borderColor: '#2F7CCA',
                            fill: false,
                            data: aDatasets2
                        },
                        {
                            type: 'line',
                            label: "My 3td dataset",
                            yAxisID: 'B',
                            position: 'left',
                            backgroundColor: '#2F7CCA',
                            borderColor: '#2F7CCA',
                            fill: false,
                            data: aDatasets3
                        }]

                },
                options: {
                    responsive: true,
                    legend: {
                        display: true
                    },
                    title: {
                        display: true,
                        text: 'chartName'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false, //x label off
                                labelString: '[Time]'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            id: 'A',
                            ticks: {
                                beginAtZero: true,
                                // steps: 10,
                                // stepValue: 5,
                                //max: 200,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '[A]'
                            },
                            scalePositionLeft: true
                        },
                        {
                            display: true,
                            id: 'B',
                            ticks: {
                                beginAtZero: true,
                                // steps: 10,
                                // stepValue: 5,
                                //max: 200,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '[B]'
                            }
                            , scalePositionLeft: false
                        }]
                    }
                }
            };

            //destroy chart if exists
            if (Mychart) {
                Mychart.destroy();
            }
            //clear the cancas just to be shure
            $("#graphCanvas").remove();
            //add the new canvas
            $("#gaphContainer").append('<canvas id="graphCanvas" height="140"></canvas>');
            //build the chart
            var ctx = document.getElementById("graphCanvas").getContext("2d");
            Mychart = new Chart(ctx, config);
        }
        function OnErrorCall_(repo) {
            alert("Woops something went wrong, pls try later !");
        }
    });


</script>