@model EqUiWebUi.Areas.Maximo_ui.Models.WorkorderSelectOptions


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Workorders</h4>
        <a class="glyphicon glyphicon-new-window" id="goToWorkordersHyperlink" href=""> go to workorders</a>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <div id="workorderOnLocationGridSpincontainer" style="position:relative">
            <div id="workorderOnLocationGrid" class="mvc-grid"></div>
        </div>
        <div id="woDetailsPartial">Click on a row for more details about a workorder</div>
    </div>
</div>


<!--_workorderOnLocation-->
<script>
    var workorderOnLocationGridspinner = new Spinner();
    //build query string 
    var workorderOnLocationGridUrlParms =  "&location=@Model.location" +
                                           "&locancestor=@Model.locancestor" +
                                           "&b_ciblings=@Model.b_ciblings" +
                                           "&b_preventive=@Model.b_preventive" +
                                           "&jpnum=@Model.jpnum" +
                                           "&worktype=@Model.worktype" +
                                           "&startdate=@Model.startdate.ToString("yyyy-MM-dd HH:mm:ss")" +
                                           "&enddate=@Model.enddate.ToString("yyyy-MM-dd HH:mm:ss")"
// set url to link back to main workorder view
    $('#goToWorkordersHyperlink').attr('href', '@Url.Action("Workorders")?' + workorderOnLocationGridUrlParms + "&loadOnInit=true");
//render grid and subscrible to row clicked events
    $('#workorderOnLocationGrid').mvcgrid({
        sourceUrl: '@Url.Action("_workordersOnLocationGrid")?' + workorderOnLocationGridUrlParms
                , // Grid source url string
        //query: '?search=test', // Grid query string
        requestType: 'get', // Ajax grid request type
        data: {
                // Ajax grid query data
            },
        filters: {
                // Grid filters to extend or use
            },
        reload: true, // Grid reload indicator
        rowClicked: function (row, data, e) {
                    $("#woDetailsPartial").html("Loading.....");
                var url = "@Url.Action("_woDetails", "WorkorderDetails")?wonum=" + data.WONUM;
                    $("#woDetailsPartial").load(url);
            },
        reloadStarted: function () {
            workorderOnLocationGridspinner.spin(document.getElementById('workorderOnLocationGridSpincontainer'));
                // this - grid instance which invoked the event
            },
        reloadEnded: function () {
            workorderOnLocationGridspinner.stop();
                // this - grid instance which invoked the event
            },
        reloadFailed: function (result) {
            workorderOnLocationGridspinner.stop();
            $("#workorderOnLocationGrid").html("Error while loading!!!");
                // this - grid instance which invoked the event
                // result - failed ajax response result
            }
        });
</script>
