@model IEnumerable<EqUiWebUi.Areas.Maximo_ui.Models.Workorder>

@Html.Grid(Model).Named("Workorders").Build(columns =>
{
    columns.Add(c => c.WONUM).Titled("WONUM");
    columns.Add(c => c.WORKTYPE).Titled("WORKTYPE").Css("hidden-md hidden-sm hidden-xs");
    columns.Add(c => c.LOCATION).Titled("LOCATION").Css("hidden-xs").Filterable(true);
    columns.Add(c => c.STATUS).Titled("STATUS").Css("hidden-md hidden-sm hidden-xs").Filterable(true);
    columns.Add(c => c.STATUSDATE).Titled("STATUSDATE").Formatted("{0:dd-MM-yyyy hh:mm}").Css("hidden-md hidden-sm hidden-xs");
    columns.Add(c => c.DESCRIPTION).Titled("DESCRIPTION").Sortable(false).Filterable(true);

//add edit button
columns.Add(c => c)
.Titled("")
.Encoded(false)
.RenderedAs(c => MyFilters.IconActionLink("http://maximoui.volvocars.biz/maximo/ui/maximo.jsp?event=loadapp&value=wotrack&additionalevent=useqbe&additionaleventvalue=wonum=" + c.WONUM, "fas fa-pencil-alt", "", "Edit this workorder in maximo",classes: "OpenNewWindow")
).Filterable(false);


}).Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("No workorders found").Css("table-hover")


@*inform user that this is a realtime connection*@
@if (ViewBag.RealtimeConn)
{
    <div class="badge badge-pill badge-warning">
        RT
    </div>
}

@*
     <h6>Sql Statement</h6>
    <div>
        @ViewBag.Qry
    </div>
*@
