@model IEnumerable<EqUiWebUi.Areas.Welding.Models.ULplan_start>

@{
    ViewBag.Title = "Index";

}

<h2>change plan busy data</h2>

@Html.Grid(Model).Named("ULplan_start").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").Css("bolded");
    columns.Add(c => c.Startinspectiontime).Titled("inspectiontime").Css("bolded").InitialSort(GridSortOrder.Desc); ;
    columns.Add(c => c.planid).Titled("planid");
    columns.Add(c => c.lastplannumber).Titled("lastplannumber");
    columns.Add(c => c.planlenght).Titled("planlenght");
    columns.Add(c => c.Worklocation).Titled("worklocation");

    //tools
    columns.Add(c => c)
                        .Titled("")
                        .Encoded(false)
                        .RenderedAs(c =>

                        MyHtmlHelpers.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this spot").ToHtmlString() +
                        MyHtmlHelpers.IconActionLink(Url.Action("Delete", new { id = c.id }), "fas fa-trash-alt text-danger", "", "Delete").ToHtmlString() 
                            

                        ).Filterable(false);



}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 20;

}
        ).Sortable().Css("table-hover")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

}

