@{
    ViewBag.Title = "Index";
}
<div class="container body-content">
    <h2>Index</h2>
</div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            console.log("hit");

            $(".navbar-fixed-top").animate({ "margin-top": "-62px" }, "fast");
            $(".container").animate({ "margin-top": "5px" }, "fast");

            //  $(".navbar-fixed-top").animate({ "margin-top": "0px" }, "fast");
            //  $("#content").animate({ "margin-top": "80px" }, "fast");


        });
    </script>

