<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "l_operation")" data-toggle="tooltip" title="Direct link to this view"></a>
             Records in table l_operation for this session          
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div class="mvc-grid"  data-name="L_operationGrid"></div>
    </div>
</div>


<script>
    $('[data-name="L_operationGrid"]').html('@MyHtmlHelpers.Loading("L_operationGrid")');
    $('[data-name="L_operationGrid"]').mvcgrid({
        sourceUrl: '@Url.Action("_List", "l_operation",new { sessionName = ViewBag.sessionName })',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $('[data-name="L_operationGrids"]').html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
           EnableInterfaceEvents();
        }
    });
</script>