@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_service_setup>

@Html.Grid(Model).Named("c_service_setup").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c._Enable_bit).Titled("enable_mask"); //this is like enable bit
columns.Add(c => c.name).Titled("name");
    columns.Add(c => c.value).Titled("value");
    columns.Add(c => c.description).Titled("description");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                    ).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

<div class="badge">Count: @Model.Count()</div>

