<div class="card">
    <div class="card-header">
        <h5 class="card-title text">Session settings</h5>
        <div class="text-muted">
            @Html.ActionLink("Create New parameter", "Create")
        </div>
        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
    </div>
    <div class="alert-info">
    </div>
    <div class="card-body">
        <div id="sessionSetupGridContainer" class="mvc-grid"></div>
    </div>
</div>


<script>
    $('#sessionSetupGridContainer').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_sessionSetupGrid",new { enable_mask = ViewBag.enable_mask }))',
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#sessionSetupGridContainer").html("Error while loading!!!");
        }
    });
</script>