<div class="card">
    <div class="card-header">
        <h5 class="card-title text">l operation</h5>
        <div class="text-muted">
            (log records in table l_operation for this session)
            @Html.ActionLink("l_operation_index", "Index", "l_operation")
        </div>
        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
    </div>
    <div class="alert-info">
    </div>
    <div class="card-body">
        <div id="l_operationGridContainer" class="mvc-grid"></div>
    </div>
</div>


<script>
    $("#l_operationGridContainer").html("Loading.....");
    $('#l_operationGridContainer').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "l_operation",new { sessionName = ViewBag.sessionName }))',
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#l_operationGridContainer").html("Error while loading!!!");
        }
    });
</script>