
@{
    ViewBag.Title = "sessionSetup";
}

<h2>sessionSetup</h2>

<div id="_sessionSetup">
</div>
@section scripts{
<script>
        //full with screen
    $("#allcontent").removeClass("body-content");
    $("#allcontent").removeClass("container");

    $("#_sessionSetup").html('@MyHtmlHelpers.Loading("_sessionSetup")');
    $("#_sessionSetup").load( '@Url.Action("_sessionSetup")',{ enable_mask : '@ViewBag.enable_mask'},
        function (responseText, textStatus, req) {
            if (textStatus == "error") {
                $("#_sessionSetup").html($("#Error", responseText).html());
            }
        });
</script>
}

