@{
    ViewBag.Title = "ControlChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ControlChart</h2>

@Html.Action("_GetControlChart",new {
    chartname = "testchart",
    scaleLabel = "<%=value%> mm",
    alarmobject = "35200R01_gun1",
    c_trigger_id = 22

})
