@{
    ViewBag.Title = "ControlChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>This is a test page</h1>
<h2>ControlChart 1</h2>

@Html.Action("_GetControlChart",new {
    chartname = "testchart",
    alarmobject = "338020R01_Tool1",
    c_trigger_id = 20, //21 20
    startdate = System.DateTime.Now.AddDays(-30),
    enddate = System.DateTime.Now
})

<hr />
<h2>ControlChart 2</h2>

@Html.Action("_GetControlChart",new {
    chartname = "testchart",
    alarmobject = "338020R01_Tool1",
    c_trigger_id = 21, //21 20
    startdate = System.DateTime.Now.AddDays(-30),
    enddate = System.DateTime.Now
})


