<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="EQUIConnectionString"
      connectionString="Data Source=sqla001.gen.volvocars.net;Initial Catalog=GADATA;Persist Security Info=True;Integrated Security = true"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--global-->
    <add key="SiteName" value="VCGA EQUI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnableHangfire" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HangfireQueues" value="critical;default;alertengine;gadata;jobengine;sto" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="DisabledAreas" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="HangfireDetailsBasepath" value="http://gensvw1178.gen.volvocars.net/hangfire/jobs/details/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Maximo-->
    <add key ="Maximo_ORGID" value="VCCBE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Maximo_SiteID" value="VCG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Maximo_LOCATION_SYSTEMID" value="PRODMID" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Maximo_ORG_SYSTEMID" value="ORG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Maximo_TOPANCESTOR" value="A" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--log4net-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="D:\IIS\Logs\EquiWebui.log" xdt:Transform="Replace"/>>
    </appender>
  </log4net>

  <!--global-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>