<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--config strings this is SITE specific 
  The EQUIConnectionString is the master !
  At site startup this sql server user and pass will be copied to the other strings
  Possible to use integrated Security or embedded credentials 
      <add name="EQUIConnectionString" connectionString="Data Source=sqla001.gen.volvocars.net;Initial Catalog=GADATA;Persist Security Info=True;Integrated Security = true"
      providerName="System.Data.SqlClient" />
      
      <add name="EQUIConnectionString" connectionString="Data Source=sqla001.gen.volvocars.net;Initial Catalog=GADATA;Persist Security Info=True;User ID=USERNAME;Password=PASSWORD"
      providerName="System.Data.SqlClient" />
  -->
  <!--
  Local DB 
      <add name="EQUIConnectionString" connectionString="Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Persist Security Info=True;Integrated Security = true"
      providerName="System.Data.SqlClient" />
  -->
  <connectionStrings>
    <add name="EQUIConnectionString" connectionString="Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Persist Security Info=True;Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="GADATAEntitiesUserManagement" connectionString="metadata=res://*/Areas.user_management.Models.user_management.csdl|res://*/Areas.user_management.Models.user_management.ssdl|res://*/Areas.user_management.Models.user_management.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntities1" connectionString="metadata=res://*/Areas.PlcSupervisie.Models.Gadata.csdl|res://*/Areas.PlcSupervisie.Models.Gadata.ssdl|res://*/Areas.PlcSupervisie.Models.Gadata.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATA_AlertModel" connectionString="metadata=res://*/Areas.Alert.Models.AlertModel.csdl|res://*/Areas.Alert.Models.AlertModel.ssdl|res://*/Areas.Alert.Models.AlertModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=GADATA_AlertModel&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesTiplife" connectionString="metadata=res://*/Areas.Tiplife.Models.TiplifeModel.csdl|res://*/Areas.Tiplife.Models.TiplifeModel.ssdl|res://*/Areas.Tiplife.Models.TiplifeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=GADATAEntitiesTiplife&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesVASC" connectionString="metadata=res://*/Areas.VASC.Models.VASC.csdl|res://*/Areas.VASC.Models.VASC.ssdl|res://*/Areas.VASC.Models.VASC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=GADATAEntitiesVASC&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesPJV" connectionString="metadata=res://*/Areas.PJV.Models.PJV.csdl|res://*/Areas.PJV.Models.PJV.ssdl|res://*/Areas.PJV.Models.PJV.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BackupClientUI" connectionString="metadata=res://*/Areas.BackupClientUI.Models.BackupClientUIModel.csdl|res://*/Areas.BackupClientUI.Models.BackupClientUIModel.ssdl|res://*/Areas.BackupClientUI.Models.BackupClientUIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesWelding" connectionString="metadata=res://*/Areas.Welding.Models.WeldingModel.csdl|res://*/Areas.Welding.Models.WeldingModel.ssdl|res://*/Areas.Welding.Models.WeldingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesEQUI" connectionString="metadata=res://*/Models.EQUIModel.csdl|res://*/Models.EQUIModel.ssdl|res://*/Models.EQUIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GADATAEntitiesVWSC" connectionString="metadata=res://*/Areas.VWSC.Models.VWSC.csdl|res://*/Areas.VWSC.Models.VWSC.ssdl|res://*/Areas.VWSC.Models.VWSC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SupervisionEntities" connectionString="metadata=res://*/Areas.Supervision.Models.SupervisionModel.csdl|res://*/Areas.Supervision.Models.SupervisionModel.ssdl|res://*/Areas.Supervision.Models.SupervisionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GNL1004ZCBQC2\SQLEXPRESS;Initial Catalog=Gadatadev;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--App settings-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--global site settings-->
    <add key="SiteName" value="**defaultSiteName**" />
    <add key="DisabledAreas" value="" />
    <add key="DatabufferNumShifts" value="9" />
    <add key="DatabufferNumDefaultHours" value="48" />
    <!--hangfire-->
    <add key="EnableHangfire" value="true" />
    <add key="HangfirePrepareSchemas" value="false" />
    <add key="HangfireQueues" value="NOWORK" />
    <add key="HangfireDetailsBasepath" value="http://equi/hangfire/jobs/details/" />
    <!--Maximo  MOVE THIS TO MAXIMO AREA WEB.CONFIG!-->
    <add key="Maximo_ORGID" value="VCCBE" />
    <add key="Maximo_SiteID" value="VCG" />
    <add key="Maximo_LOCATION_SYSTEMID" value="PRODMID" />
    <add key="Maximo_ORG_SYSTEMID" value="ORG" />
    <add key="Maximo_TOPANCESTOR" value="A" />
  </appSettings>
  <!--Web settings-->
  <system.web>
    <!--WATCH OUT! This culture affects the oracle maximo connection don't change the culture=en-US !!! maximo will crap out-->
    <globalization culture="en-US" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.1" />
    <!--authorization-->
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*" />
    </authorization>
    <roleManager cacheRolesInCookie="true" defaultProvider="roleProvider" enabled="true">
      <providers>
        <clear />
        <add name="roleProvider" type="EqUiWebUi.roleProvider" />
      </providers>
    </roleManager>
    <!--cutom error redirect-->
    <!--bugfix for when we restart the system must be set to remote only for production-->
    <customErrors mode="Off" defaultRedirect="~\Shared\ServerErrorPage.html">
      <error statusCode="401" redirect="~\Shared\Notauthorized.html" />
    </customErrors>
  </system.web>
  <!--runtime assembleys-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--entityFramework setup-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Log4net setup-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--this log location is site specific!-->
      <file value="C:\Temp\EquiWebui.log" />
      <appendToFile value="true" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <!--Webserver-->
  <system.webServer>
    <!--make iis handel .woff2 filetype-->
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>