<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EQUIConnectionString"
      connectionString="Data Source=CHASVW1203.cha.volvocars.net\DBSQLTIPWEP;Initial Catalog=CHADATA;Persist Security Info=True;Integrated Security = true"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--global-->
    <add key="SiteName" value="DEVELOPMENT VCCH EQUI (Charleston)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnableHangfire" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HangfireQueues" value="critical;default;alertengine;gadata;jobengine" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="DisabledAreas" value="PJV;VWSC;WELDING;PlcSupervisie;STW040;VCSC;STO;CycleTime" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="HangfireDetailsBasepath" value="http://equi/hangfire/jobs/details/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Maximo-->
    <add key ="Maximo_ORGID" value="VCCUS1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--VCCSE-->
    <add key ="Maximo_SiteID" value="VCCH" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--VCT-->
    <!--systems found for site VCCH 
PRIMARY
DEPP-->
    <add key ="Maximo_LOCATION_SYSTEMID" value="PRIMARY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--I don't think VCCH use this-->
    <add key ="Maximo_ORG_SYSTEMID" value="DEPP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--VCCH-->
    <add key ="Maximo_TOPANCESTOR" value="VCCH" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="E:\IIS\Logs\EquiWebui.log" xdt:Transform="Replace"/>
    </appender>
  </log4net>

</configuration>