<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EQUIConnectionString"
      connectionString="Data Source=GOTSVW1872.got.volvocars.net;Initial Catalog=TADATA;Persist Security Info=True;Integrated Security = true"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--global-->
    <add key="SiteName" value="VCTA EQUI (POC)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnableHangfire" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HangfireQueues" value="critical;default;alertengine;gadata;jobengine" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="DisabledAreas" value="PJV;WELDING;PlcSupervisie;STW040;VCSC;STO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="HangfireDetailsBasepath" value="http://equi/hangfire/jobs/details/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Maximo-->
    <add key ="Maximo_ORGID" value="VCCSE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--VCCSE-->
    <add key ="Maximo_SiteID" value="VCT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--VCT-->
    <!--systems found for site VCT 
HUVUD
GEOLOC
UTRANGER
BRAND
FASTIGH
ELDISTR
DEP-->
    <add key ="Maximo_LOCATION_SYSTEMID" value="HUVUD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--HUVUD-->
    <add key ="Maximo_ORG_SYSTEMID" value="ORG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--????-->
    <add key ="Maximo_TOPANCESTOR" value="TA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--TA-->
  </appSettings>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="D:\IIS\Logs\EquiWebui.log" xdt:Transform="Replace"/>
    </appender>
  </log4net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>