@*set title*@
@{
    ViewBag.Title = "Query differ";
}

@*style*@
<style type="text/css">
    /*for diff markup*/
    ins {
        background-color: #cfc;
        /*text-decoration: none;*/
    }

    del {
        color: #999;
        background-color: #FEC8C8;
    }
    /*table styling*/
    table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
</style>


@*content*@
<div>
    @Html.Raw((String)ViewBag.myData)
</div>



