<html>
<head>
<meta name = "viewport"
content = "width=device-width"/>

<title> DisplayGrid  </title>  

<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src = "~/Scripts/jquery-1.9.1.js" > </script> 
<script src = "~/bootstrap-3.3.6-dist/js/bootstrap.js"> </script>

<style type = "text/css" >

/*for diff markup*/
ins 
{
        background-color: #cfc;
        text-decoration: none;
}

del 
{
        color: #999;
        background-color: #FEC8C8;
}
/*table styling*/
    table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
</style>



</head><body><div>

@Html.Raw((String)ViewBag.myData)

</div></body></html>  

