
<div>
    <h6>Electrode status animations</h6>
    <table style="width:100%">
        <tr>
            <th>Electrode Status</th>
            <th>RowStyle</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>NWIC</td>
            <td class=""></td>
            <td>No wear in calc</td>
        </tr>
    </table>
</div>

