@{
    ViewBag.Title = "tiplife manager";
}

<h2>tiplife manager</h2>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Greenfield
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <div class="card-body">
        <p>
            <a href="~/Tiplife/Electrode/CurrentTipstatus" class="btn btn-primary btn-sm">Active tiplife &raquo;</a>
            (Huidige electrodes status.)
        </p>
        <p>
            <a href="~/Tiplife/NgacElectrode/PlanTipChange" class="btn btn-primary btn-sm">Plan tipchange &raquo;</a>
            (Onderhoud plannen)
        </p>
    </div>

</div>
