<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Alert management
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @MyHtmlHelpers.EquiLink("/Alert/c_triggers/index", "fas fa-bell", "Alert setup", helperText: "Manage alert triggers")
        <p>@MyHtmlHelpers.IconActionLink("/Alert/c_SMSsystem/index", "fas fa-object-group", "SMS groups", "List of sms groups")</p>
        <p>@MyHtmlHelpers.IconActionLink("/Alert/c_SMSconfig/index", "fas fa-cogs", "SMS group config", "Join between SMSsystem and CPT600 (each system can send to one or more CPT600 profiles)")</p>
        <p>@MyHtmlHelpers.IconActionLink("/Alert/c_CPT600/index", "fas fa-phone", "CPT600", "List of CPT600 profiles (with location asset root and sms counters) This connects us to the VD that sends the SMS")</p>
    </div>
</div>
