@model IQueryable<EqUiWebUi.Areas.Alert.Models.h_alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all alerts AASPOT</h2>
@if (ViewBag.LocationFilter != null)
{
    <h3>Filtered on location: @ViewBag.LocationFilter</h3>
    <h4>This location has @ViewBag.AlertCount alerts in his history</h4>
}

@Html.Grid(Model).Named("h_alert").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").Filterable(true).InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.location).Titled("location").Filterable(true).MultiFilterable(true);
    columns.Add(c => c.C_timestamp).Titled("C_timestamp").Formatted("{0:dd-MM-yyyy HH:mm}");
    columns.Add(c => c.info).Titled("info");
    columns.Add(c => c.ChangedUser.username.Replace(@"VCCNET\", "")).Titled("ChangedUser");
    columns.Add(c => c.triggerCount).Titled("TC").Filterable(true);
//render dropdown to set alert status
columns.Add(c => c.c_state.state)
           .Titled("State")
           .Encoded(false)
           .Filterable(true)
           .RenderedAs(c => MyFilters.ChangeAlertStatus(c.id, c.c_state.state));

//launch sbcu tool
columns.Add(c => c)
                  .Encoded(false)
                  .Filterable(false)
                  .Sortable(false)
                  //gefoefel om de tool id er uit te halen! Dit kan falen als er geen 'gun:' in de omschrijving zit dus is ROMMEL code
                  //in de laatste versie is het niet meer gun:x maar gunx (het alarmobject) vandaar de replace
                  .RenderedAs(c => MyEquiToolkit.SbcuTool(c.location, c.info.Replace(":","").Substring(c.info.IndexOf("gun"), 5).Replace("gun", "")));

//add filterbutton
columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("AASPOTAlertList", new { LocationFilter = c.location }), "fas fa-filter", "", "Filter alerts for this location")
                ).Filterable(false);

//add edit button
columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this alert")
                ).Filterable(false);

}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 17;
}).Empty("Did not find anything").Css("table-hover").RowCss(row => MyRowStyling.getRowStyleStatus(row.c_state.state))


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('.mvc-grid').mvcgrid({
            rowClicked: function (row, data, e) {
                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="10000"><div class="modal-content"><div class="modal-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("Loading.....");
                //load url in placeholder
                var url = "@Url.Action("_Details")?id=" + data.id;
                $("#placeholderPartial").load(url);
            }
        });
    </script>
}

