@model IEnumerable<EqUiWebUi.Areas.Alert.Models.h_alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all alerts AASPOT</h2>
@if (ViewBag.LocationFilter != null)
{
<h3>Filtered on location: @ViewBag.LocationFilter</h3>
<h4>This location has @ViewBag.AlertCount alerts in his history</h4>
}

@Html.Grid(Model).Named("h_alert").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").Filterable(true).InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.location).Titled("location").Filterable(true).MultiFilterable(true);
    columns.Add(c => c.C_timestamp).Titled("C_timestamp").Formatted("{0:dd-MM-yyyy HH:mm}");
    columns.Add(c => c.info).Titled("info");
    columns.Add(c => c.ChangedUser.username.Replace(@"VCCNET\", "")).Titled("ChangedUser").Filterable(true);
    columns.Add(c => c.triggerCount).Titled("TC").Filterable(true);
    //render dropdown to set alert status
    columns.Add(c => c.c_state.state)
           .Titled("State")
           .Encoded(false)
           .Filterable(true)
           .RenderedAs(c => MyFilters.ChangeAlertStatus(c.id, c.c_state.state));

    //launch sbcu tool
    columns.Add(c => c)
                  .Encoded(false)
                  .Filterable(false)
                  .Sortable(false)
                  //gefoefel om de tool id er uit te halen! Dit kan falen als er geen 'gun:' in de omschrijving zit dus is ROMMEL code
                  .RenderedAs(c => MyEquiToolkit.SbcuTool(c.location, c.info.Substring(c.info.IndexOf("gun:"), 5).Replace("gun:", "")));

    //add filterbutton
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("AASPOTAlertList", new { LocationFilter = c.location }), "glyphicon glyphicon-filter", "","Filter alerts for this location")
                ).Filterable(false);

    //add edit button
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "glyphicon glyphicon-pencil", "", "Edit this alert")
                ).Filterable(false);

}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 15;
}).Empty("Did not find anything").Css("table-hover").RowCss(row => MyRowStyling.getRowStyleStatus(row.c_state.state))

<p></p>
@*info model in page for alert details *@
<div class="panel panel-default">
    <div class="panel-body">
        <div id="alertDetailsPartial">Click on a row for more details about the alert</div>
    </div>
</div>

@section scripts{

<script type="text/javascript">
    $(document).ready(function () {
        //subscribe to row clicked events
        $('.mvc-grid').mvcgrid({
            rowClicked: function (row, data, e) {
                console.log(data);
                $("#alertDetailsPartial").html("Loading.....");
                var url = "@Url.Action("_Details")?id=" + data.id;
                $("#alertDetailsPartial").load(url);
            }
        });
    });
</script>

}

