
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Alerts</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Alerts</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <p><a href="~/Alert/Alert/AASPOTIndex" class="btn btn-primary btn-sm">AASPOTIndex &raquo;</a>Alert systeem aangepast voor AASPOT users</p>

    </div>
</div>