
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>This is an Admin area!</h1>
</div>

<p></p>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">Alerts</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <p><a href="~/Alert/c_triggers/index" class="btn btn-danger btn-sm">c_trigger &raquo;</a>c_trigger</p>
        <p><a href="~/Alert/h_alert/index" class="btn btn-warning btn-sm">h_alert &raquo;</a>h_alert</p>
        <p><a href="~/Alert/h_alert/configureHangfire" class="btn btn-warning btn-sm">configureHangfire &raquo;</a>configureHangfire</p>
    </div>
</div>