
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Alerts</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Alerts</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>

    <div class="panel-body">
        <p><a href="~/Alert/Alert/Listalerts" class="btn btn-primary btn-sm">Listalerts &raquo;</a>Alert systeem algemeen</p>

    </div>

    <div class="panel-body">
        <p><a href="~/Alert/Alert/AASPOTIndex" class="btn btn-primary btn-sm">AASPOTIndex &raquo;</a>Alert systeem aangepast voor AASPOT users</p>

    </div>

    <div class="panel-body">
        <h3>Dit is nog in test en ook nog niet echt gekoppeld aan de alerts! </h3>
        <p><a href="~/Alert/L_controlLimits/Index" class="btn btn-primary btn-sm">controlLimits &raquo;</a>view control limits</p>
        <p><a href="~/Alert/L_variants/Index" class="btn btn-primary btn-sm">variants &raquo;</a>view variants</p>
    </div>

</div>