@model IEnumerable<EqUiWebUi.Areas.Alert.Models.h_alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all alerts for this user</h2>

@Html.Grid(Model).Named("h_alert").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.c_triggers.alertType).Titled("alertType");
    columns.Add(c => c.C_timestamp).Titled("C_timestamp").Formatted("{0:dd-MM-yyyy HH:mm}");
    columns.Add(c => c.location).Titled("location");
    columns.Add(c => c.info).Titled("info");
    columns.Add(c => c.c_state.state).Titled("state");
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                ).Filterable(false);
}).Filterable(true).Sortable(true).Empty("Did not find anything").Css("table-hover").RowCss(row => MyRowStyling.getRowStyleStatus(row.c_state.state))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}

