@model IQueryable<EqUiWebUi.Areas.Alert.Models.h_alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all alerts for this user</h2>

@Html.Grid(Model).Named("h_alert").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Desc);
    columns.Add(c => c.c_triggers.alertType).Titled("alertType");
    columns.Add(c => c.C_timestamp).Titled("C_timestamp").Formatted("{0:dd-MM-yyyy HH:mm}");
    columns.Add(c => c.location).Titled("location");
    columns.Add(c => c.alarmobject).Titled("alarmobject");
    columns.Add(c => c.Classification).Titled("Class");
    columns.Add(c => c.info).Titled("info");
    columns.Add(c => c.ChangedUser.username.Replace(@"VCCNET\", "")).Titled("ChangedUser");
    columns.Add(c => c.triggerCount).Titled("TC");
    columns.Add(c => c.c_state.state).Titled("state");

    //add edit button
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this alert")
                ).Filterable(false);

}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 17;
}).Empty("Did not find anything").Css("table-hover").RowCss(row => MyRowStyling.getRowStyleStatus(row.c_state.state))


@section scripts{
<script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('.mvc-grid').mvcgrid({
            rowClicked: function (row, data, e) {
                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="10000"><div class="card"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("Loading.....");
                //load url in placeholder
                var url = "@Url.Action("_Details")?id=" + data.id;
                $("#placeholderPartial").load(url);
            }
        });
</script>
}

