@{
    ViewBag.Title = "Chart index";
}


    <div class="panel panel-default">
        <h4>Charts</h4>
        <div class="panel-body">
            <p>
                <a href="~/Chart/index" class="btn btn-primary btn-sm">BarChart &raquo;</a>
                Chart index
            </p>

            This does nothing

        </div>
    </div>


