
@model IEnumerable<EqUiWebUi.Models.ia_Alert>

@*set title*@
@{
    ViewBag.Title = "Alerts";
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Alerts</h4>
        </div>

            @Html.Grid(Model).Named("DataGrid").Build(columns =>
       {
           columns.Add(c => c.id).Titled("id").Filterable(true);
           columns.Add(c => c.controller_name).Titled("Robot").Filterable(true);
           columns.Add(c => c.C_timestamp).Titled("C_timestamp").Formatted("{0:dd-MM-yyyy HH:mm}").InitialSort(GridSortOrder.Desc);
           columns.Add(c => c.Type).Titled("Type").Filterable(true);
           columns.Add(c => c.description).Titled("Description");
           columns.Add(c => c.AlertStatus).Css("hidden"); //used for colum styling
           columns.Add(c => c.Accept_user.Replace(@"VCCNET\", "")).Titled("User").Filterable(true);
           //render dropdown to set alert status
           columns.Add(c => c.AlertStatus)
                  .Titled("AlertStatus")
                  .Encoded(false)
                  .Filterable(true)
                  .RenderedAs(c => @MyFilters.SetAlertStatus("setalertDropdown", c.id, c.AlertStatus));
           //launch sbcu tool
           columns.Add(c => c.AlertStatus)
                                 .Encoded(false)
                                 .Filterable(false)
                                 .Sortable(false)
                                 //gefoefel om de tool id er uit te halen! Dit kan falen als er geen 'gun:' in de omschrijving zit dus is ROMMEL code
                                 .RenderedAs(c => MyEquiToolkit.SbcuTool(c.controller_name, c.description.Substring(c.description.IndexOf("gun:"),5).Replace("gun:","")));
       }).Sortable().Pageable(pager =>
       {
           pager.RowsPerPage = 10;
       }).Empty("No data found").Css("table-hover")
    </div>

    <p></p>
    @*info model in page for alert details *@
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="alertDetailsPartial">Click on a row for more details about the alert</div>
        </div>
    </div>

@*render popuover modal*@
<div>
    @MyModals.AlertModal("AlertModal")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //apply table format rules
        tableFormatAlerttype(6);
        //subscribe to modal click
        ListenToModal('#AlertModal');
        //subscribe to row clicked events
        $('.mvc-grid').mvcgrid({
            rowClicked: function (row, data, e) {
                $("#alertDetailsPartial").html("Loading.....");
                var url = "@Url.Action("_details")?id=" + data.id;
                $("#alertDetailsPartial").load(url);
            }
        });
    });
</script>

