@{
    ViewBag.Title = "Spc manager";
}
<div class="container body-content">
    <div class="jumbotron">
        <h4>Spc manager</h4>
    </div>

    <p></p>

    <div class="panel panel-default">
        <h4>Project bram</h4>
        <div class="panel-body">
            <p>
                <a href="~/Spc/GetAlerts" class="btn btn-primary btn-sm">Alerts &raquo;</a>
                Alerts van project bram (SBCU en guncilinder Comau C3G robots)
            </p>
            <p>
        </div>
    </div>

</div>

<footer>
    <p>&copy; @DateTime.Now.Year - VCG GA SDEBEUL ASP.NET Application</p>
</footer>