

@{
    ViewBag.Title = "Index c_housekeeping";
}

<h2>Index c_housekeeping</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Action("_List")


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('[data-name="c_housekeepingGrid"]').mvcgrid({
            rowClicked: function (row, data, e) {
                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                $("#placeholderPartial").load("@Url.Action("_L_housekeeping")", { c_houseKeeping_id : data["id"] });
            }
        });

    </script>
}
