
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            EQUI site setup
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <h4>Database connections</h4>
        <p><a href="~/EQUISetup/RunDbTest" class="btn btn-primary btn-sm JQresultTriggerBtn">RunDbTests &raquo;</a>Test all databases in equi.c_datasources (login/select)</p>
        <hr />
        <h4>Datacollectors</h4>
        <p><a href="~/vasc/vasc/index" class="btn btn-primary btn-sm">VASC &raquo;</a>Manage VASC (ABB datacollector)</p>
        <hr />
        <h4>Classification</h4>
        <p><a href="~/Classification/ClassificationTool" class="btn btn-primary btn-sm">LogClassTool &raquo;</a>Tool for classification of errors (put errors in a class and subgroup)</p>
        <p><a href="~/c_logclasssystem/Index" class="btn btn-warning btn-sm">c_Logclasssystem &raquo;</a>Manage classification systems</p>
        <p><a href="~/c_LogclassRules/Index" class="btn btn-warning btn-sm">c_LogclassRules &raquo;</a>Manage classification rules</p>
        <p><a href="~/c_Classification/Index" class="btn btn-warning btn-sm">c_Classification &raquo;</a>Manage classification (should be read for maximo)</p>
        <p><a href="~/c_Subgroup/Index" class="btn btn-warning btn-sm">c_Subgroup &raquo;</a>Manage subgroups</p>
    </div>
</div>

