
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            EQUI site setup
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p><a href="~/EQUISetup/RunDbTest" class="btn btn-warning btn-sm JQresultTriggerBtn">RunDbTest &raquo;</a>Test all confiured databases</p>
        <p><a href="~/EQUISetup/ChangePWTest" class="btn btn-warning btn-sm JQresultTriggerBtn">ChangePWTest &raquo;</a>Test to change mx pw</p>
        <hr />
        <p><a href="~/c_logclasssystem/Index" class="btn btn-warning btn-sm">LogClassSystems &raquo;</a>Manage classiciation systems</p>
        <p><a href="~/c_LogclassRules/Index" class="btn btn-warning btn-sm">LogClassRules &raquo;</a>Manage how classiciation rules work</p>
        <p><a href="~/Classification/ClassificationTool" class="btn btn-warning btn-sm">LogClassTool &raquo;</a>Tool for classifcation of errors</p>
    </div>
</div>

