@helper SmsCard(string sms)
    {
<div class="state-card" style="border-color: #5cb85c">
    <h4 class="state-card-title" style="color: #5cb85c">
        <small class="pull-right text-muted">
            <span data-moment="1518446042" title="Mon, Feb 12, 2018 3:34 PM" data-container="body" data-original-title="Mon, Feb 12, 2018 3:34 PM">3 minutes ago</span>
        </small>
        Succeeded
    </h4>
    <div class="state-card-body" style="background-color: #EDF7ED">
        <dl class="dl-horizontal">
        <dt>Latency:</dt>
            <dd>317ms</dd>
        
            <dt>Duration:</dt>
            <dd>140ms</dd>
        </dl>
    </div>
</div>
}