@*drop down control for filtering on 'locationtree'*@
@helper LocationDropdown(string id)
    {
        <select class="form-control input-sm" id="@id" name="Selecteer locatie">
            <optgroup label="CMA UB12 floorline">
                <option value="A LIJN 33">Floor (all)</option>
                <option value="A LIJN 331">Frontstructure</option>
                <option value="A LIJN 334">Frontfloor</option>
                <option value="A LIJN 336">Rearfloor</option>
                <option value="A LIJN 338">Marriage</option>
            </optgroup>
            <optgroup label="CMA Sides">
                <option value="A LIJN 35">Sides (all)</option>
            </optgroup>
            <optgroup label="CMA Preassembly">
                <option value="GA4.0">GA4.0</option>
            </optgroup>
        </select>
}

@*dropdown filter that redirects to page
    Leave ID blank!
*@
@helper LocationDropdownBrownfield(string id, string redirecbase, bool dropup = false)
    {
        <div class="dropup" id="@id">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Set a location filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@redirecbase?">ClearFilter</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=AAL">P3</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A FLOOR L">A FLOOR L</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A SIBO L">A SIBO L</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=AAS">P4</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A FLOOR S">A FLOOR S</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A SIBO ">A SIBO S</a></li>
            </ul>
        </div>
}

@helper LocationDropdownGreenField(string id, string redirecbase, bool dropup = false)
    {
        <div class="dropup" id="@id">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Set a location filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@redirecbase?">ClearFilter</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 33">Floor (all)</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 331">Frontstructure</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 334">Frontfloor</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 336">Rearfloor</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 338">Marriage</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=A LIJN 35 ">Sides</a></li>
                <li><a href="@redirecbase?DataGrid-LocationTree-Contains=GA4.0 ">Preassembly</a></li>
            </ul>
        </div>
}

@*helper to change alter status*@
@helper SetAlertStatus(string id, int alertId, int? currentState)
    {
        <div class="dropdown" id="@id">
            <button class="btn btn-xs btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                @{
                    switch (currentState)
                    {
                        case 0:
                            <text>
                                WAITING
                            </text>
                            break;
                        case 1:
                            <text>
                                OKREQ
                            </text>
                            break;
                        case 2:
                            <text>
                                EXEC
                            </text>
                            break;
                        case 3:
                            <text>
                                COMP
                            </text>
                            break;
                        default:
                            <text>
                                not valid
                            </text>
                            break;
                    }
                }
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="modal-link" href="/spc/_setState?id=@id,newstate=1">OKREQ</a></li>
                <li><a class="modal-link" href="/spc/_setState?id=@id,newstate=2">EXEC</a></li>
                <li><a class="modal-link" href="/spc/_setState?id=@id,newstate=3">COMP</a></li>
            </ul>
        </div>
}
