@*helper to create links*@
@helper EquiLink(string url, string icon, string linkText, string iconClasses = "", string helperText = "", string helpurl = "")
{
        <div class="col-md-12">
            <div class="update-nag" onclick="location.href='@url'">
                <div class="update-split @iconClasses">
                    <i class="far @icon fa-2x"></i>
                </div>
                <div class="update-text">
                    <div class="title">@linkText</div>
                    <div class="d-none d-md-block text-muted">
                        @helperText
                        @*show helplink only if there is one*@
                        @if (helpurl != "")
                        {
                            <a href=""><i class="fas fa-question-circle" onclick="window.open('@helpurl', 'EQUI', 'window settings')"></i></a>
                        }
                    </div>
                    @*show collapes helper tooltip only if there is helpertext*@
                    @if (helperText != "")
                    {
                        <a class="d-block d-md-none"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="@helperText"></i></a>
                    }
                </div>
            </div>
        </div>

}