@*helper to create info icon for tipmonitor*@
@helper TipMonitorIcon(string Status, double? RobotWear)
{
    string icon = "";
    string linkText = "";
    string tooltip = "";

    //no data from robot for last 2 days
    if (Status == "ND")
    {
        icon = "far fa-eye";
        linkText = "No data";
        tooltip = "No data from robot for 48hours check electrode by hand!";
    }
    //no tip change detected alert but wait to change until more than 1 mm wear
    else if (Status == "NTCD" && RobotWear < 1)
    {
        icon = "fas fa-exclamation-triangle";
        linkText = "Wait for re-change";
        tooltip = "No change detected but wait to re-change electrode!";
    }
    //no tip change detected alert and can be changed
    else if (Status == "NTCD")
    {
        icon = "fas fa-retweet";
        linkText = "Re-change";
        tooltip = "No change detected you can now try to change the electrode again";
    }
    //
    else if (Status == "NWIC")
    {
        icon = "fas fa-thumbs-down";
        linkText = "No wear in calculation";
        tooltip = "Tips are changed to fast I can not calculate the remaining parts";
    }
    //all is good.
    else
    {
        icon = "far fa-heart";
        linkText = "";
        tooltip = "Everything is OK";
    }
    <a href="" class="@icon" data-toggle="tooltip" title="@tooltip">
        <span>
            <strong>@linkText</strong>
        </span>
    </a>
}