@*helper to change alter status users in ALERT ALERT*@
@helper SetServiceState(string ServiceName, string currentState)
    {
        <div class="dropdown">
            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                @(currentState ?? "not found") <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <p>@MyHtmlHelpers.IconActionLink("/VASC/c_service_setup/SetServiceState?ServiceName=@ServiceName&State=1", "", "Start", "Start session", classes: "JQresultTriggerBtn btn btn-danger")</p>
                </li>
                <li class="dropdown-item">
                    <p>@MyHtmlHelpers.IconActionLink("/VASC/c_service_setup/SetServiceState?ServiceName=@ServiceName&State=2", "", "Stop", "Stop session", classes: "JQresultTriggerBtn btn btn-danger")</p>
                </li>
                <li class="dropdown-item">
                    <p>@MyHtmlHelpers.IconActionLink("/VASC/c_service_setup/SetServiceState?ServiceName=@ServiceName&State=3", "", "Restart", "Restart session", classes: "JQresultTriggerBtn btn btn-danger")</p>
                </li>
            </ul>
        </div>
}