@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_csv_log>

@Html.Grid(Model).Named("c_csv_logGrid").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c._Enable_bit).Titled("enable_bit");
    columns.Add(c => c.csv_filename).Titled("csv_filename");
    columns.Add(c => c.rt_table).Titled("rt_table");
    columns.Add(c => c._Poll_Rate).Titled("Poll_Rate").Css("XXd-none XXd-md-block");;
    columns.Add(c => c._Csv_log_Flags).Titled("flags").Css("XXd-none XXd-md-block");;
    columns.Add(c => c.comment).Titled("comment").Css("XXd-none XXd-md-block");;
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                    ).Filterable(false);
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Show", "GetCsvFileData", new { c_csv_log_id = c.id, controller_id = ViewBag.controller_id })
                    ).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

<div class="badge">Count: @Model.Count()</div>