@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_csv_log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index c_csv_log</h2>
    <div class="alert alert-info">
        <h4>
            The list of CSV log files to be read. Some files are read based on change of monitored variables and others based on a poll value
        </h4>

        <div class="text-muted">
            See ABB FUPA for more info about the CSV log file
        </div>
    </div>
</div>

<p>
    @MyHtmlHelpers.IconActionLink(Url.Action("Edit", "c_csv_log", new { id = -1 }), "fas fa-pencil-alt", "Create", "add a csv file to log", OpenNewWindow: true)
</p>

@Html.AjaxGrid(Url.Action("_List"))

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
