<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            Hangfire
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p><a href="~/Hangfire" class="btn btn-primary btn-sm">Hangfire &raquo;</a>Beheer van background jobs. </p>
        <p><a href="~/HangfireArea/job/ConfiureBackgroundJobs" class="btn btn-danger btn-sm JQresultTriggerBtn">Configure jobs &raquo;</a>Configure hangfire jobs. (reset al to default)</p>

        <p><a href="~/HangfireArea/c_schedule/index" class="btn btn-danger btn-sm">c_schedule &raquo;</a>Make hangfire c_schedule.</p>
        <p><a href="~/HangfireArea/c_job/index" class="btn btn-danger btn-sm">c_job &raquo;</a>Make hangfire c_job.</p>
    </div>
</div>
