
@{
    ViewBag.Title = "Ultralog";
}

<h2>Ultralog</h2>

@MyHtmlHelpers.EquiLink(@Url.Action("UltralogExportTool.application", "UltralogExportTool", new { area = "" }, null), "fas fa-file-excel", "UltralogExportTool (run)", helperText: "Start the ultra log data export tool")

@MyHtmlHelpers.EquiLink(@Url.Action("ControlPlanViewer"), "fas fa-file-excel", "ControlPlanViewer", helperText: "Show active and complete control plans")