@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_variable_search>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index c_variable_search</h2>
    <div class="alert alert-info">
        <h4>
            The list of variables to be searched and if found logged
        </h4>

        <div class="text-muted">
            The difference between c_variable and c_variable_search is that this table can look for a variable that meets the requirement
            See VASC manual for more details (2.5)
        </div>
    </div>
</div>

<p>
    @MyHtmlHelpers.IconActionLink(Url.Action("Edit", "c_variable_search", new { id = -1 }), "fas fa-pencil-alt", "Create", "add a variable to search and log", OpenNewWindow: true)
</p>


@Html.AjaxGrid(Url.Action("_List"))
<hr />
<div class="alert alert-danger">
    <input id="CleanRt_value_Search" class="btn btn-warning JQresultTriggerBtn" type="button" value="CLEAN Rt_value_Search" href="@Url.Action("CleanUpRt_value_Search")" />
    <strong>Clean all data from Rt_value_Search table that is no longer in setup table.</strong>
</div>
@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}