@*set title*@
@{
    ViewBag.Title = "EQpluginDefaultNGACWebgrid";
}

<div id="EQpluginDefaultNGACSpincontainer" style="position:relative">
    <div id="EQpluginDefaultNGACWebgridGrid" class="mvc-grid"></div>
</div>

<div class="panel-footer">
    <div class="row">
        <div class="col-sm-6">
            <p class="pull-right" id="PushInfo"> Last data push: ????</p>
        </div>
    </div>
</div>

@*render popuover modal*@
<div id="MyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">Loading....</div>
</div>

<!--ploegrapport script-->
<script type="text/javascript">
$(document).ready(function () {
    var EQpluginDefaultNGACGridspinner = new Spinner();
    //render grid and subscrible to row clicked events
    $('#EQpluginDefaultNGACWebgridGrid').mvcgrid({
        sourceUrl: '@Url.Action("_EQpluginDefaultNGAC")', // Grid source url string
        //query: '?search=test', // Grid query string
        requestType: 'get', // Ajax grid request type
        data: {
                // Ajax grid query data
        },
        filters: {
                // Grid filters to extend or use
        },
        reload: true, // Grid reload indicator
        rowClicked: function (row, data, e) {
                var urlMoreInfo = '@Url.Action("_Moreinfo","Gadata")?location=' + encodeURIComponent(data.Location)
                            + '&errornum=' + encodeURIComponent(data.Logcode)
                            + '&refid=' + encodeURIComponent(data.refId)
                            + '&logtype=' + encodeURIComponent(data.Logtype)
                            + '&logtext=' + encodeURIComponent(data.logtext)
                    //launch modal
                $('#MyModal').removeData('bs.modal');
                $('#MyModal').html('<div class="modal-content">Loading....</div>');
                $('#MyModal').modal({ remote: urlMoreInfo });
        },
        reloadStarted: function () {
            EQpluginDefaultNGACGridspinner.spin(document.getElementById('EQpluginDefaultNGACSpincontainer'));
                // this - grid instance which invoked the event
        },
        reloadEnded: function () {
            EQpluginDefaultNGACGridspinner.stop();
                // this - grid instance which invoked the event
        },
        reloadFailed: function (result) {
            EQpluginDefaultNGACGridspinner.stop();
           $("#EQpluginDefaultNGACWebgridGrid").html("Error while loading!!!");
                // this - grid instance which invoked the event
                // result - failed ajax response result
        }
    });


        //enable polling for new data
        CheckRefreshTable(5, '@Url.Action("EQpluginDefaultNGACcheckNewData")', '#PloegRapport');
        //on modal close
        $('#MyModal').on('hidden.bs.modal', function (e) {
            $('#MyModal').html('<div class="modal-content">No content</div>');
        });

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    });
</script>
