@model IEnumerable<EqUiWebUi.Models.Supervisie>

@*set title*@
@{
    ViewBag.Title = "Supervisie";
}

<div>
    <p></p>
    <p></p>
    <div>
        <div>
            @Html.AjaxGrid(Url.Action("_supervisie"))
        </div>

        <div class="panel-footer">
            @MyFilters.LocationDropdownBrownfield("Supervisie")
            <p class="pull-right"> Last data push: ????</p>
        </div>
    </div>
</div>


@*render popuover modal*@
<div>
    @MyModals.tableHelperModal("tableModal")
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //subscribe to modal click
        ListenToModal('#tableModal');
        //enable polling for new data
        CheckRefreshTable(5, '@Url.Action("SupervisiecheckNewData")','#Supervisie');
        //hide the navbar and move body content up
        Navbar(false);
        //subscribe to row clicked events
        $('#Supervisie').mvcgrid({
            rowClicked: function (row, data, e) {
                console.log("row click:") & console.log(data);
            }
        });
    });
</script>
