
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    ViewBag.Title = "Tableau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
           Automatic fault registration. (socket system)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Powerbi/EmbeddedDesktop?RepportID=48a95708-6371-4546-ad10-4687dec61149" class="btn btn-warning btn-sm">Robotfaults&raquo;</a>
            Overview robot faults
        </p>

    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Automatic fault registration. (VASC tableau demo) *Testing to move to over to powerbi
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/tableau/EmbeddedDesktop?workbook=VCCH_Breakdowns&sheet=ObjectTreeWithTrend" class="btn btn-primary btn-sm">Tree (FaultLevel) &raquo;</a>
            Aantal storingen per fout + trend grafiek
        </p>


    </div>
</div>

