
<!DOCTYPE html>
<html>
<body>

    <h2>Spikes V316</h2>
    <img src="C:\Temp\V316Spikes.png" alt="Spikes V316" width="460" height="345">

</body>
</html>


@model IQueryable<EqUiWebUi.Areas.Welding.Models.ActualSpatter_>
@{
    ViewBag.Title = "ActualSpatter_";
}

@Html.Grid(Model).Named("ActualSpatter_").Build(columns =>
{
    columns.Add(c => c.SpatterUpdateTime).Titled("SpatterUpdateTime").Formatted("{0:dd-MM-yyyy HH:mm:ss}");
    columns.Add(c => c.Zone).Titled("zone").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.Spatters).Titled("NbrSpatters");

    columns.Add(c => c.NbrWelds).Titled("NbrWelds");
    columns.Add(c => c.C_ZoneSpatters).Titled("%ZoneSpatters").Css("bolded");
    columns.Add(c => c.Last8HoursSpatterNbr).Titled("Last8HoursSpatterNbr");
    columns.Add(c => c.Last8HoursNbrWelds).Titled("Last8HoursNbrWelds");
    columns.Add(c => c.Last8Hours_spatter).Titled("Last8Hours%spatter");

}).Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 15;

}
        ).Sortable().Css("table-hover").RowCss(model => model.C_ZoneSpatters > model.Last8Hours_spatter ? "ani_PulseRed" : "")




@section scripts{
    <script>
                //full with screen
                $("#allcontent").removeClass("body-content");
                $("#allcontent").removeClass("container");
                //  $actualRow.css('background-color', '#0094ff');
                // $("#allcontent").html("<i class='fas fa-spinner fa-spin fa-2x'></i>")


                //function to refresh grid
               function refreshGrid() {
                    console.log('function is being called')
                   $('[data-name="ActualSpatter_"]').mvcgrid({
                        reload: true,

                        reloadStarted: function () {
                            // this - grid instance which invoked the event
                        },
                        reloadEnded: function () {
                            // this - grid instance which invoked the event
                        },
                        reloadFailed: function (result) {
                            // this - grid instance which invoked the event
                            // result - failed ajax response result
                        }
                    });
                }

                setInterval(function () {
                    refreshGrid()
                }, 1000 * 120)


    </script>



}