
@{

    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <Center><h1>Spatter Page</h1></Center>


<p></p>@{
    ViewBag.Title = "Spatter Page";
}
<div class="jumbotron">


    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                Report a problem
                <span class="clickable float-right"><i class="far fa-edit"></i></span>
            </h5>
        </div>
        <div class="card-body">
            <p>
                @MyHtmlHelpers.EquiLink("/Welding/h_production_issues/Index", "far fa-flag", "Insert new issue", helperText: "maak hier melding van een spat/spike/braam probleem")
            <p>
            <p>
                @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "fab fa-searchengin", "follow up status reported issues", helperText: "Volg hier de status van de gemelde problemen")
            <p>

        </div>
    </div>



    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                Analyses
                <span class="clickable float-right"><i class="far fa-edit"></i></span>
            </h5>
        </div>
        <div class="card-body">
            <p>
            @MyHtmlHelpers.EquiLink("/Welding/Spatter/_SpikesV316", "fas fa-chart-bar", "Analyse reported problems", helperText: "Analyse van de gemelde problemen")
            <p></p>
        
        </div>
    </div>




        </div>
    </div>
    <p></p>









