<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Kiosk management
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @MyHtmlHelpers.EquiLink("/user_management/UserScreens/Index", "fas fa-desktop", "kiosks", helperText: "Manage all kiosk screens")
        @MyHtmlHelpers.EquiLink("/user_management/UserScreens/Screenmaster", "fab fa-rocketchat", "Screenmaster", helperText: "Send messages or url to all kiosk screens")
    </div>
</div>
