
@{
    ViewBag.Title = "Screenmaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Screenmaster</h2>

<div class="card">
    <div class="card-header bg-dark">
        <h4 class="card-title text-white">ScreenMaster Toolbox</h4>
    </div>
    <div class="card-body">
        <input id="ScreenMasterBtnFullRefresh" class="btn btn-warning JQresultTriggerBtn" type="button" value="FullRefresh" href="@Url.Action("FullRefresh", new { area = "user_management" })" />
        Send Refresh command to all screens. (full page reload)
        <p></p>
        <input id="ScreenMasterBtnIframeRefresh" class="btn btn-warning JQresultTriggerBtn" type="button" value="IframeRefresh" href="@Url.Action("Refresh", new { area = "user_management" })" />
        Send refresh command to all screens (Iframe reload)
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h4 class="card-title text-white">ScreenMaster messenger</h4>
    </div>
    <div class="card-body">
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        @using (Ajax.BeginForm("DisplayMessage", "UserScreens", new AjaxOptions { HttpMethod = "POST" }))
        {
            <form class="form-horizontal">
                <textarea id="ScreenMasterMessage" name="ScreenMasterMessagedata">Type a message to send to the screens</textarea>
                <p></p>
                <input type="submit" value="Send message" class="btn btn-success">
            </form>
        }
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h4 class="card-title text-white">ScreenMaster Iframe</h4>
    </div>
    <div class="card-body">
        <input id="ScreenMasterBtnSendUrl" class="btn btn-warning JQresultTriggerBtn" type="button" value="SendUrl" href="@Url.Action("DisplayPage", new {area = "user_management", url = "http://equi", showtime = 10 })" />
        Send url to all screens
    </div>
</div>

<hr />

@section scripts{
    @*https://summernote.org/getting-started/*@
    <link href="~/Content/summernote-bs4.css" rel="stylesheet" />
    <script src="~/Scripts/summernote-bs4.js"></script>
    <script>
        $('#ScreenMasterMessage').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false                  // set focus to editable area after initializing summernote
        });
    </script>
}
