
@{
    ViewBag.Title = "TEST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TEST</h2>
<div id="messages"></div>

@section scripts{
 <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
 <script src="~/signalr/js"></script>
 <script>
        $.connection.hub.start()
            .done(function () {
                console.log("SignalR connected");
                $.connection.screenHub.server.joinGroup("GroupA");
                $.connection.screenHub.server.joinGroup("GroupB");
                $.connection.screenHub.server.announce("test bericht");
            })
            .fail(function () { console.log("SignalR connect ERROR") });


        $.connection.screenHub.client.announce = function (message) {
            console.log("new message");
            $("#messages").append(message + "<br />");
        }
</script>
}